---
swagger: "2.0"
info:
  description: "Figshare apiv2. Using Swagger 2.0"
  version: "2.0.0"
  title: "Figshare API"
host: "api.figshare.com"
basePath: "/v2"
schemes:
- "https"
produces:
- "application/json"
paths:
  /account:
    get:
      tags:
      - "other"
      summary: "Private Account information"
      description: "Account information for token/personal token"
      operationId: "private_account"
      parameters: []
      responses:
        "200":
          description: "OK. Account representation"
          schema:
            $ref: "#/definitions/Account"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/articles:
    get:
      tags:
      - "articles"
      summary: "Private Articles"
      description: "Get Own Articles"
      operationId: "private_articles_list"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number. Used for pagination with page_size"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 1
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        description: "The number of results included on a page. Used for pagination\
          \ with page"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "Number of results included on a page. Used for pagination with\
          \ query"
        required: false
        type: "integer"
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Where to start the listing (the offset of the first result).\
          \ Used for pagination with limit"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      responses:
        "200":
          description: "OK. An array of articles belonging to the account"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Article"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
    post:
      tags:
      - "articles"
      summary: "Create new Article"
      description: "Create a new Article by sending article information"
      operationId: "private_article_create"
      parameters:
      - in: "body"
        name: "Article"
        description: "Article description"
        required: true
        schema:
          $ref: "#/definitions/ArticleCreate"
        x-exportParamName: "Article"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/LocationWarnings"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article"
  /account/articles/export:
    get:
      tags:
      - "articles"
      summary: "Account Article Report"
      description: "Return status on all reports generated for the account from the\
        \ oauth credentials"
      operationId: "account_article_report"
      parameters:
      - name: "group_id"
        in: "query"
        description: "A group ID to filter by"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "GroupId"
        x-optionalDataType: "Int64"
      responses:
        "200":
          description: "OK. An array of account report entries"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AccountReport"
        "400":
          description: "Bad Request"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
    post:
      tags:
      - "articles"
      summary: "Initiate a new Report"
      description: "Initiate a new Article Report for this Account. There is a limit\
        \ of 1 report per day."
      operationId: "account_article_report_generate"
      parameters: []
      responses:
        "200":
          description: "OK. AccountReport created."
          schema:
            $ref: "#/definitions/AccountReport"
        "429":
          description: "Too Many Requests"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/articles/search:
    post:
      tags:
      - "articles"
      summary: "Private Articles search"
      description: "Returns a list of private articles filtered by the search parameters"
      operationId: "private_articles_search"
      parameters:
      - in: "body"
        name: "search"
        description: "Search Parameters"
        required: true
        schema:
          $ref: "#/definitions/PrivateArticleSearch"
        x-exportParamName: "Search"
      responses:
        "200":
          description: "OK. An array of articles"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ArticleWithProject"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/articles/{article_id}:
    get:
      tags:
      - "articles"
      summary: "Article details"
      description: "View a private article"
      operationId: "private_article_details"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "200":
          description: "OK. Article representation"
          schema:
            $ref: "#/definitions/ArticleCompletePrivate"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article"
    put:
      tags:
      - "articles"
      summary: "Update article"
      description: "Update an article by passing full body parameters."
      operationId: "private_article_update"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "Article"
        description: "Full article representation"
        required: true
        schema:
          $ref: "#/definitions/ArticleUpdate"
        x-exportParamName: "Article"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location of newly created article"
          schema:
            $ref: "#/definitions/LocationWarningsUpdate"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article"
    delete:
      tags:
      - "articles"
      summary: "Delete article"
      description: "Delete an article"
      operationId: "private_article_delete"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "204":
          description: "No Content"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article"
    patch:
      tags:
      - "articles"
      summary: "Partially update article"
      description: "Partially update an article by sending only the fields to change."
      operationId: "private_article_partial_update"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "Article"
        description: "Subset of article fields to update"
        required: true
        schema:
          $ref: "#/definitions/ArticleUpdate"
        x-exportParamName: "Article"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location of the updated article"
          schema:
            $ref: "#/definitions/LocationWarningsUpdate"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article"
  /account/articles/{article_id}/authors:
    get:
      tags:
      - "articles"
      summary: "List article authors"
      description: "List article authors"
      operationId: "private_article_authors_list"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "200":
          description: "OK. Authors list for article"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Author"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Authors"
    post:
      tags:
      - "articles"
      summary: "Add article authors"
      description: "Associate new authors with the article. This will add new authors\
        \ to the list of already associated authors"
      operationId: "private_article_authors_add"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "Authors"
        description: "Authors description"
        required: true
        schema:
          $ref: "#/definitions/AuthorsCreator"
        x-exportParamName: "Authors"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of list of authors"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Authors"
    put:
      tags:
      - "articles"
      summary: "Replace article authors"
      description: "Associate new authors with the article. This will remove all already\
        \ associated authors and add these new ones"
      operationId: "private_article_authors_replace"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "Authors"
        description: "Authors description"
        required: true
        schema:
          $ref: "#/definitions/AuthorsCreator"
        x-exportParamName: "Authors"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of list of authors"
        "400":
          description: "Bad Request. Article ID must be an integer and bigger than\
            \ 0. Author with ID Not Found."
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Authors"
  /account/articles/{article_id}/authors/{author_id}:
    delete:
      tags:
      - "articles"
      summary: "Delete article author"
      description: "De-associate author from article"
      operationId: "private_article_author_delete"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "author_id"
        in: "path"
        description: "Article Author unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "AuthorId"
      responses:
        "204":
          description: "No Content"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Authors"
  /account/articles/{article_id}/categories:
    get:
      tags:
      - "articles"
      summary: "List article categories"
      description: "List article categories"
      operationId: "private_article_categories_list"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "200":
          description: "OK. Article categories"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Category"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Categories"
    post:
      tags:
      - "articles"
      summary: "Add article categories"
      description: "Associate new categories with the article. This will add new categories\
        \ to the list of already associated categories"
      operationId: "private_article_categories_add"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "categories"
        required: true
        schema:
          $ref: "#/definitions/CategoriesCreator"
        x-exportParamName: "Categories"
      responses:
        "205":
          description: "Reset Content"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Categories"
    put:
      tags:
      - "articles"
      summary: "Replace article categories"
      description: "Associate new categories with the article. This will remove all\
        \ already associated categories and add these new ones"
      operationId: "private_article_categories_replace"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "categories"
        required: true
        schema:
          $ref: "#/definitions/CategoriesCreator"
        x-exportParamName: "Categories"
      responses:
        "205":
          description: "Reset Content"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Categories"
  /account/articles/{article_id}/categories/{category_id}:
    delete:
      tags:
      - "articles"
      summary: "Delete article category"
      description: "De-associate category from article"
      operationId: "private_article_category_delete"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "category_id"
        in: "path"
        description: "Category unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CategoryId"
      responses:
        "204":
          description: "No Content"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Categories"
  /account/articles/{article_id}/confidentiality:
    get:
      tags:
      - "articles"
      summary: "Article confidentiality details"
      description: "View confidentiality settings. The confidentiality feature is\
        \ now deprecated. This has been replaced by the new extended embargo functionality\
        \ and all items that used to be confidential have now been migrated to items\
        \ with a permanent embargo on files. All API endpoints related to this functionality\
        \ will remain for backwards compatibility, but will now be attached to the\
        \ new extended embargo workflows."
      operationId: "private_article_confidentiality_details"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "200":
          description: "OK. Article categories"
          schema:
            $ref: "#/definitions/ArticleConfidentiality"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Confidentiality - DEPRECATED"
    put:
      tags:
      - "articles"
      summary: "Update article confidentiality"
      description: "Update confidentiality settings. The confidentiality feature is\
        \ now deprecated. This has been replaced by the new extended embargo functionality\
        \ and all items that used to be confidential have now been migrated to items\
        \ with a permanent embargo on files. All API endpoints related to this functionality\
        \ will remain for backwards compatibility, but will now be attached to the\
        \ new extended embargo workflows."
      operationId: "private_article_confidentiality_update"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "reason"
        required: true
        schema:
          $ref: "#/definitions/ConfidentialityCreator"
        x-exportParamName: "Reason"
      responses:
        "205":
          description: "Reset Content"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Confidentiality - DEPRECATED"
    delete:
      tags:
      - "articles"
      summary: "Delete article confidentiality"
      description: "Delete confidentiality settings. The confidentiality feature is\
        \ now deprecated. This has been replaced by the new extended embargo functionality\
        \ and all items that used to be confidential have now been migrated to items\
        \ with a permanent embargo on files. All API endpoints related to this functionality\
        \ will remain for backwards compatibility, but will now be attached to the\
        \ new extended embargo workflows."
      operationId: "private_article_confidentiality_delete"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Confidentiality - DEPRECATED"
  /account/articles/{article_id}/download:
    get:
      tags:
      - "articles"
      summary: "Private Article Download"
      description: "Download files from a private article preserving the folder structure"
      operationId: "private_article_download"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "folder_path"
        in: "query"
        description: "Folder path to download. If not provided, all files from the\
          \ article will be downloaded"
        required: false
        type: "string"
        x-exportParamName: "FolderPath"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK"
        "403":
          description: "Insufficient permissions"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/articles/{article_id}/embargo:
    get:
      tags:
      - "articles"
      summary: "Article Embargo Details"
      description: "View a private article embargo details"
      operationId: "private_article_embargo_details"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "200":
          description: "OK. Embargo for article"
          schema:
            $ref: "#/definitions/ArticleEmbargo"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Embargo"
    put:
      tags:
      - "articles"
      summary: "Update Article Embargo"
      description: "Note: setting an article under whole embargo does not imply that\
        \ the article will be published when the embargo will expire. You must explicitly\
        \ call the publish endpoint to enable this functionality."
      operationId: "private_article_embargo_update"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "Embargo"
        description: "Embargo description"
        required: true
        schema:
          $ref: "#/definitions/ArticleEmbargoUpdater"
        x-exportParamName: "Embargo"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location of embargo"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Embargo"
    delete:
      tags:
      - "articles"
      summary: "Delete Article Embargo"
      description: "Will lift the embargo for the specified article"
      operationId: "private_article_embargo_delete"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "204":
          description: "No Content"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Embargo"
  /account/articles/{article_id}/files:
    get:
      tags:
      - "articles"
      summary: "List article files"
      description: "List private files"
      operationId: "private_article_files_list"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "page"
        in: "query"
        description: "Page number. Used for pagination with page_size"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 1
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        description: "The number of results included on a page. Used for pagination\
          \ with page"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "Number of results included on a page. Used for pagination with\
          \ query"
        required: false
        type: "integer"
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Where to start the listing (the offset of the first result).\
          \ Used for pagination with limit"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      responses:
        "200":
          description: "OK. Article files list"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PrivateFile"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Files"
    post:
      tags:
      - "articles"
      summary: "Initiate Upload"
      description: "Initiate a new file upload within the article. Either use the\
        \ link property to point to an existing file that resides elsewhere and will\
        \ not be uploaded to Figshare or use the other 3 parameters (md5, name, size)."
      operationId: "private_article_upload_initiate"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "page"
        in: "query"
        description: "Page number. Used for pagination with page_size"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 1
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        description: "The number of results included on a page. Used for pagination\
          \ with page"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "Number of results included on a page. Used for pagination with\
          \ query"
        required: false
        type: "integer"
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Where to start the listing (the offset of the first result).\
          \ Used for pagination with limit"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - in: "body"
        name: "File"
        required: true
        schema:
          $ref: "#/definitions/FileCreator"
        x-exportParamName: "File"
      responses:
        "201":
          description: "Created"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of new file"
          schema:
            $ref: "#/definitions/Location"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "422":
          description: "Unprocessable Entity. Parameters missing or incorrect"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Files"
  /account/articles/{article_id}/files/{file_id}:
    get:
      tags:
      - "articles"
      summary: "Single File"
      description: "View details of file for specified article"
      operationId: "private_article_file"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "file_id"
        in: "path"
        description: "File unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "FileId"
      responses:
        "200":
          description: "OK. Article private file"
          schema:
            $ref: "#/definitions/PrivateFile"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Files"
    post:
      tags:
      - "articles"
      summary: "Complete Upload"
      description: "Complete file upload"
      operationId: "private_article_upload_complete"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "file_id"
        in: "path"
        description: "File unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "FileId"
      responses:
        "202":
          description: "Accepted"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Files"
    delete:
      tags:
      - "articles"
      summary: "File Delete"
      description: "Complete file upload"
      operationId: "private_article_file_delete"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "file_id"
        in: "path"
        description: "File unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "FileId"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Files"
  /account/articles/{article_id}/private_links:
    get:
      tags:
      - "articles"
      summary: "List private links"
      description: "List private links"
      operationId: "private_article_private_link"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "200":
          description: "OK. Article private links"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PrivateLink"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Private Links"
    post:
      tags:
      - "articles"
      summary: "Create private link"
      description: "Create new private link for this article"
      operationId: "private_article_private_link_create"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "private_link"
        required: false
        schema:
          $ref: "#/definitions/PrivateLinkCreator"
        x-exportParamName: "PrivateLink"
      responses:
        "201":
          description: "Created"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of private link"
          schema:
            $ref: "#/definitions/PrivateLinkResponse"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "422":
          description: "Unprocessable Entity"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Private Links"
  /account/articles/{article_id}/private_links/{link_id}:
    put:
      tags:
      - "articles"
      summary: "Update private link"
      description: "Update existing private link for this article"
      operationId: "private_article_private_link_update"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "link_id"
        in: "path"
        description: "Private link token"
        required: true
        type: "string"
        x-exportParamName: "LinkId"
      - in: "body"
        name: "private_link"
        required: false
        schema:
          $ref: "#/definitions/PrivateLinkCreator"
        x-exportParamName: "PrivateLink"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of private link"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "422":
          description: "Unprocessable Entity"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Private Links"
    delete:
      tags:
      - "articles"
      summary: "Disable private link"
      description: "Disable/delete private link for this article"
      operationId: "private_article_private_link_delete"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "link_id"
        in: "path"
        description: "Private link token"
        required: true
        type: "string"
        x-exportParamName: "LinkId"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Article Private Links"
  /account/articles/{article_id}/publish:
    post:
      tags:
      - "articles"
      summary: "Private Article Publish"
      description: "- If the whole article is under embargo, it will not be published\
        \ immediately, but when the embargo expires or is lifted.\n- When an article\
        \ is published, a new public version will be generated. Any further updates\
        \ to the article will affect the private article data. In order to make these\
        \ changes publicly visible, an explicit publish operation is needed."
      operationId: "account_article_publish"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "201":
          description: "Created"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location of newly published article"
          schema:
            $ref: "#/definitions/Location"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/articles/{article_id}/reserve_doi:
    post:
      tags:
      - "articles"
      summary: "Private Article Reserve DOI"
      description: "Reserve DOI for article"
      operationId: "private_article_reserve_doi"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ArticleDOI"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/articles/{article_id}/reserve_handle:
    post:
      tags:
      - "articles"
      summary: "Private Article Reserve Handle"
      description: "Reserve Handle for article"
      operationId: "private_article_reserve_handle"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ArticleHandle"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/articles/{article_id}/resource:
    post:
      tags:
      - "articles"
      summary: "Private Article Resource"
      description: "Edit article resource data."
      operationId: "private_article_resource"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "Resource"
        description: "Resource data"
        required: true
        schema:
          $ref: "#/definitions/Resource"
        x-exportParamName: "Resource"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location for account article details"
          schema:
            $ref: "#/definitions/Location"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "422":
          description: "Unprocessable Entity"
      security:
      - OAuth2:
        - "all"
  /account/articles/{article_id}/unpublish:
    post:
      tags:
      - "articles"
      summary: "Public Article Unpublish"
      description: "Allows authorized users to unpublish an article."
      operationId: "account_article_unpublish"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - in: "body"
        name: "reason"
        description: "Article unpublish data"
        required: true
        schema:
          $ref: "#/definitions/ArticleUnpublishData"
        x-exportParamName: "Reason"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/articles/{article_id}/versions/{version_id}:
    put:
      tags:
      - "articles"
      summary: "Update article version"
      description: "Updating an article version by passing body parameters."
      operationId: "article_version_update"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "version_id"
        in: "path"
        description: "Article version identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "VersionId"
      - in: "body"
        name: "Article"
        description: "Article description"
        required: true
        schema:
          $ref: "#/definitions/ArticleVersionUpdate"
        x-exportParamName: "Article"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location of newly created article"
          schema:
            $ref: "#/definitions/LocationWarningsUpdate"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Article version private updates"
    patch:
      tags:
      - "articles"
      summary: "Partially update article version"
      description: "Partially updating an article version by passing only the fields\
        \ to change."
      operationId: "article_version_partial_update"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "version_id"
        in: "path"
        description: "Article version identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "VersionId"
      - in: "body"
        name: "Article"
        description: "Subset of article version fields to update"
        required: true
        schema:
          $ref: "#/definitions/ArticleVersionUpdate"
        x-exportParamName: "Article"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location of updated article version"
          schema:
            $ref: "#/definitions/LocationWarningsUpdate"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Article version private updates"
  /account/articles/{article_id}/versions/{version_id}/update_thumb:
    put:
      tags:
      - "articles"
      summary: "Update article version thumbnail"
      description: "For a given public article version update the article thumbnail\
        \ by choosing one of the associated files"
      operationId: "article_version_update_thumb"
      parameters:
      - name: "article_id"
        in: "path"
        description: "Article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      - name: "version_id"
        in: "path"
        description: "Article version identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "VersionId"
      - in: "body"
        name: "FileId"
        description: "File ID"
        required: true
        schema:
          $ref: "#/definitions/FileId"
        x-exportParamName: "FileId"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location for article version details"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "422":
          description: "Unprocessable Entity"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Article version private updates"
  /account/authors/search:
    post:
      tags:
      - "authors"
      summary: "Search Authors"
      description: "Search for authors"
      operationId: "private_authors_search"
      parameters:
      - in: "body"
        name: "search"
        description: "Search Parameters"
        required: false
        schema:
          $ref: "#/definitions/PrivateAuthorsSearch"
        x-exportParamName: "Search"
      responses:
        "200":
          description: "OK. An array of authors"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AuthorComplete"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/authors/{author_id}:
    get:
      tags:
      - "authors"
      summary: "Author details"
      description: "View author details"
      operationId: "private_author_details"
      parameters:
      - name: "author_id"
        in: "path"
        description: "Author unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "AuthorId"
      responses:
        "200":
          description: "OK. Article representation"
          schema:
            $ref: "#/definitions/AuthorComplete"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/categories:
    get:
      tags:
      - "institutions"
      summary: "Private Account Categories"
      description: "List institution categories (including parent Categories)"
      operationId: "private_categories_list"
      parameters: []
      responses:
        "200":
          description: "OK. An array of categories"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CategoryList"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/collections:
    get:
      tags:
      - "collections"
      summary: "Private Collections List"
      description: "List private collections"
      operationId: "private_collections_list"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number. Used for pagination with page_size"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 1
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        description: "The number of results included on a page. Used for pagination\
          \ with page"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "Number of results included on a page. Used for pagination with\
          \ query"
        required: false
        type: "integer"
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Where to start the listing (the offset of the first result).\
          \ Used for pagination with limit"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "order"
        in: "query"
        description: "The field by which to order. Default varies by endpoint/resource."
        required: false
        type: "string"
        default: "published_date"
        enum:
        - "published_date"
        - "modified_date"
        - "views"
        - "shares"
        - "cites"
        x-exportParamName: "Order"
        x-optionalDataType: "String"
      - name: "order_direction"
        in: "query"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "OrderDirection"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK. An array of collections"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Collection"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
    post:
      tags:
      - "collections"
      summary: "Create collection"
      description: "Create a new Collection by sending collection information"
      operationId: "private_collection_create"
      parameters:
      - in: "body"
        name: "Collection"
        description: "Collection description"
        required: true
        schema:
          $ref: "#/definitions/CollectionCreate"
        x-exportParamName: "Collection"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/LocationWarnings"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection"
  /account/collections/search:
    post:
      tags:
      - "collections"
      summary: "Private Collections Search"
      description: "Returns a list of private Collections"
      operationId: "private_collections_search"
      parameters:
      - in: "body"
        name: "search"
        description: "Search Parameters"
        required: true
        schema:
          $ref: "#/definitions/PrivateCollectionSearch"
        x-exportParamName: "Search"
      responses:
        "200":
          description: "OK. An array of collections"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Collection"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/collections/{collection_id}:
    get:
      tags:
      - "collections"
      summary: "Collection details"
      description: "View a collection"
      operationId: "private_collection_details"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection Unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      responses:
        "200":
          description: "OK. Collection representation"
          schema:
            $ref: "#/definitions/CollectionCompletePrivate"
        "400":
          description: "Bad Request"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection"
    put:
      tags:
      - "collections"
      summary: "Update collection"
      description: "Update a collection by passing full body parameters."
      operationId: "private_collection_update"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection Unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - in: "body"
        name: "Collection"
        description: "Collection description"
        required: true
        schema:
          $ref: "#/definitions/CollectionUpdate"
        x-exportParamName: "Collection"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location of collection"
          schema:
            $ref: "#/definitions/LocationWarningsUpdate"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection"
    delete:
      tags:
      - "collections"
      summary: "Delete collection"
      description: "Delete n collection"
      operationId: "private_collection_delete"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection Unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection"
    patch:
      tags:
      - "collections"
      summary: "Partially update collection"
      description: "Partially update a collection by sending only the fields to change."
      operationId: "private_collection_patch"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection Unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - in: "body"
        name: "Collection"
        description: "Subset of collection fields to update"
        required: true
        schema:
          $ref: "#/definitions/CollectionUpdate"
        x-exportParamName: "Collection"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location of collection"
          schema:
            $ref: "#/definitions/LocationWarningsUpdate"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection"
  /account/collections/{collection_id}/articles:
    get:
      tags:
      - "collections"
      summary: "List collection articles"
      description: "List collection articles"
      operationId: "private_collection_articles_list"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - name: "page"
        in: "query"
        description: "Page number. Used for pagination with page_size"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 1
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        description: "The number of results included on a page. Used for pagination\
          \ with page"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "Number of results included on a page. Used for pagination with\
          \ query"
        required: false
        type: "integer"
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Where to start the listing (the offset of the first result).\
          \ Used for pagination with limit"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      responses:
        "200":
          description: "OK. Articles List"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Article"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Articles"
    post:
      tags:
      - "collections"
      summary: "Add collection articles"
      description: "Associate new articles with the collection. This will add new\
        \ articles to the list of already associated articles"
      operationId: "private_collection_articles_add"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - in: "body"
        name: "articles"
        description: "Articles list"
        required: true
        schema:
          $ref: "#/definitions/ArticlesCreator"
        x-exportParamName: "Articles"
      responses:
        "201":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of new articles"
          schema:
            $ref: "#/definitions/Location"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Articles"
    put:
      tags:
      - "collections"
      summary: "Replace collection articles"
      description: "Associate new articles with the collection. This will remove all\
        \ already associated articles and add these new ones"
      operationId: "private_collection_articles_replace"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - in: "body"
        name: "articles"
        description: "Articles List"
        required: true
        schema:
          $ref: "#/definitions/ArticlesCreator"
        x-exportParamName: "Articles"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of list of articles"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Articles"
  /account/collections/{collection_id}/articles/{article_id}:
    delete:
      tags:
      - "collections"
      summary: "Delete collection article"
      description: "De-associate article from collection"
      operationId: "private_collection_article_delete"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - name: "article_id"
        in: "path"
        description: "Collection article unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "ArticleId"
      responses:
        "204":
          description: "No Content"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Articles"
  /account/collections/{collection_id}/authors:
    get:
      tags:
      - "collections"
      summary: "List collection authors"
      description: "List collection authors"
      operationId: "private_collection_authors_list"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      responses:
        "200":
          description: "OK. Embargo for article"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Author"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Authors"
    post:
      tags:
      - "collections"
      summary: "Add collection authors"
      description: "Associate new authors with the collection. This will add new authors\
        \ to the list of already associated authors"
      operationId: "private_collection_authors_add"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - in: "body"
        name: "Authors"
        description: "List of authors"
        required: true
        schema:
          $ref: "#/definitions/AuthorsCreator"
        x-exportParamName: "Authors"
      responses:
        "201":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of list of authors"
          schema:
            $ref: "#/definitions/Location"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Authors"
    put:
      tags:
      - "collections"
      summary: "Replace collection authors"
      description: "Associate new authors with the collection. This will remove all\
        \ already associated authors and add these new ones"
      operationId: "private_collection_authors_replace"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - in: "body"
        name: "Authors"
        description: "List of authors"
        required: true
        schema:
          $ref: "#/definitions/AuthorsCreator"
        x-exportParamName: "Authors"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of list of authors"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Authors"
  /account/collections/{collection_id}/authors/{author_id}:
    delete:
      tags:
      - "collections"
      summary: "Delete collection author"
      description: "Delete collection author"
      operationId: "private_collection_author_delete"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - name: "author_id"
        in: "path"
        description: "Collection Author unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "AuthorId"
      responses:
        "204":
          description: "No Content"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Authors"
  /account/collections/{collection_id}/categories:
    get:
      tags:
      - "collections"
      summary: "List collection categories"
      description: "List collection categories"
      operationId: "private_collection_categories_list"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      responses:
        "200":
          description: "OK. Categories list"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Category"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Categories"
    post:
      tags:
      - "collections"
      summary: "Add collection categories"
      description: "Associate new categories with the collection. This will add new\
        \ categories to the list of already associated categories"
      operationId: "private_collection_categories_add"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - in: "body"
        name: "categories"
        description: "Categories list"
        required: true
        schema:
          $ref: "#/definitions/CategoriesCreator"
        x-exportParamName: "Categories"
      responses:
        "201":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of list of categories"
          schema:
            $ref: "#/definitions/Location"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Categories"
    put:
      tags:
      - "collections"
      summary: "Replace collection categories"
      description: "Associate new categories with the collection. This will remove\
        \ all already associated categories and add these new ones"
      operationId: "private_collection_categories_replace"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - in: "body"
        name: "categories"
        description: "Categories list"
        required: true
        schema:
          $ref: "#/definitions/CategoriesCreator"
        x-exportParamName: "Categories"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of list of categories"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Categories"
  /account/collections/{collection_id}/categories/{category_id}:
    delete:
      tags:
      - "collections"
      summary: "Delete collection category"
      description: "De-associate category from collection"
      operationId: "private_collection_category_delete"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - name: "category_id"
        in: "path"
        description: "Collection category unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CategoryId"
      responses:
        "204":
          description: "No Content"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Categories"
  /account/collections/{collection_id}/private_links:
    get:
      tags:
      - "collections"
      summary: "List collection private links"
      description: "List article private links"
      operationId: "private_collection_private_links_list"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      responses:
        "200":
          description: "OK. Collection private links"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PrivateLink"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Private Links"
    post:
      tags:
      - "collections"
      summary: "Create collection private link"
      description: "Create new private link"
      operationId: "private_collection_private_link_create"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - in: "body"
        name: "private_link"
        required: false
        schema:
          $ref: "#/definitions/CollectionPrivateLinkCreator"
        x-exportParamName: "PrivateLink"
      responses:
        "201":
          description: "Created"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of private link"
          schema:
            $ref: "#/definitions/PrivateLinkResponse"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Private Links"
  /account/collections/{collection_id}/private_links/{link_id}:
    get:
      tags:
      - "collections"
      summary: "View collection private link"
      description: "View existing private link for this collection"
      operationId: "private_collection_private_link_details"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - name: "link_id"
        in: "path"
        description: "Private link token"
        required: true
        type: "string"
        x-exportParamName: "LinkId"
      responses:
        "200":
          description: "OK. Collection private link"
          schema:
            $ref: "#/definitions/PrivateLink"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Private Links"
    put:
      tags:
      - "collections"
      summary: "Update collection private link"
      description: "Update existing private link for this collection"
      operationId: "private_collection_private_link_update"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - name: "link_id"
        in: "path"
        description: "Private link token"
        required: true
        type: "string"
        x-exportParamName: "LinkId"
      - in: "body"
        name: "private_link"
        required: false
        schema:
          $ref: "#/definitions/CollectionPrivateLinkCreator"
        x-exportParamName: "PrivateLink"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "url"
              description: "Location of new private link"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "422":
          description: "Unprocessable Entity"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Private Links"
    delete:
      tags:
      - "collections"
      summary: "Disable private link"
      description: "Disable/delete private link for this collection"
      operationId: "private_collection_private_link_delete"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - name: "link_id"
        in: "path"
        description: "Private link token"
        required: true
        type: "string"
        x-exportParamName: "LinkId"
      responses:
        "204":
          description: "No Content"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
      x-subcategory: "Private Collection Private Links"
  /account/collections/{collection_id}/publish:
    post:
      tags:
      - "collections"
      summary: "Private Collection Publish"
      description: "When a collection is published, a new public version will be generated.\
        \ Any further updates to the collection will affect the private collection\
        \ data. In order to make these changes publicly visible, an explicit publish\
        \ operation is needed."
      operationId: "private_collection_publish"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection Unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      responses:
        "201":
          description: "Created"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location of collection"
          schema:
            $ref: "#/definitions/Location"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/collections/{collection_id}/reserve_doi:
    post:
      tags:
      - "collections"
      summary: "Private Collection Reserve DOI"
      description: "Reserve DOI for collection"
      operationId: "private_collection_reserve_doi"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection Unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/CollectionDOI"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/collections/{collection_id}/reserve_handle:
    post:
      tags:
      - "collections"
      summary: "Private Collection Reserve Handle"
      description: "Reserve Handle for collection"
      operationId: "private_collection_reserve_handle"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection Unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/CollectionHandle"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/collections/{collection_id}/resource:
    post:
      tags:
      - "collections"
      summary: "Private Collection Resource"
      description: "Edit collection resource data."
      operationId: "private_collection_resource"
      parameters:
      - name: "collection_id"
        in: "path"
        description: "Collection unique identifier"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "CollectionId"
      - in: "body"
        name: "Resource"
        description: "Resource data"
        required: true
        schema:
          $ref: "#/definitions/Resource"
        x-exportParamName: "Resource"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location for account collection details"
          schema:
            $ref: "#/definitions/Location"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "422":
          description: "Unprocessable Entity"
      security:
      - OAuth2:
        - "all"
  /account/funding/search:
    post:
      tags:
      - "other"
      summary: "Search Funding"
      description: "Search for fundings"
      operationId: "private_funding_search"
      parameters:
      - in: "body"
        name: "search"
        description: "Search Parameters"
        required: false
        schema:
          $ref: "#/definitions/FundingSearch"
        x-exportParamName: "Search"
      responses:
        "200":
          description: "OK. An array of funding information"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/FundingInformation"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/institution:
    get:
      tags:
      - "institutions"
      summary: "Private Account Institutions"
      description: "Account institution details"
      operationId: "private_institution_details"
      parameters: []
      responses:
        "200":
          description: "OK. An array of institutions"
          schema:
            $ref: "#/definitions/Institution"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/institution/accounts:
    get:
      tags:
      - "institutions"
      summary: "Private Account Institution Accounts"
      description: "Returns the accounts for which the account has administrative\
        \ privileges (assigned and inherited)."
      operationId: "private_institution_accounts_list"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number. Used for pagination with page_size"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 1
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        description: "The number of results included on a page. Used for pagination\
          \ with page"
        required: false
        type: "integer"
        default: 10
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "Number of results included on a page. Used for pagination with\
          \ query"
        required: false
        type: "integer"
        maximum: 1000
        minimum: 1
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Where to start the listing (the offset of the first result).\
          \ Used for pagination with limit"
        required: false
        type: "integer"
        maximum: 5000
        minimum: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "is_active"
        in: "query"
        description: "Filter by active status"
        required: false
        type: "integer"
        maximum: 1
        minimum: 0
        format: "int64"
        x-exportParamName: "IsActive"
        x-optionalDataType: "Int64"
      - name: "institution_user_id"
        in: "query"
        description: "Filter by institution_user_id"
        required: false
        type: "string"
        x-exportParamName: "InstitutionUserId"
        x-optionalDataType: "String"
      - name: "email"
        in: "query"
        description: "Filter by email"
        required: false
        type: "string"
        x-exportParamName: "Email"
        x-optionalDataType: "String"
      - name: "id_lte"
        in: "query"
        description: "Retrieve accounts with an ID lower or equal to the specified\
          \ value"
        required: false
        type: "integer"
        minimum: 0
        format: "int64"
        x-exportParamName: "IdLte"
        x-optionalDataType: "Int64"
      - name: "id_gte"
        in: "query"
        description: "Retrieve accounts with an ID greater or equal to the specified\
          \ value"
        required: false
        type: "integer"
        minimum: 0
        format: "int64"
        x-exportParamName: "IdGte"
        x-optionalDataType: "Int64"
      responses:
        "200":
          description: "OK. An array of Accounts"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ShortAccount"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
    post:
      tags:
      - "institutions"
      summary: "Create new Institution Account"
      description: "Create a new Account by sending account information. When the\
        \ institution_user_id is provided, no verification email will be sent. The\
        \ email_verified flag will automatically be set to true. If the institution_user_id\
        \ is not provided, a verification email will be sent. The email_verified flag\
        \ will be set to true once the account is created."
      operationId: "private_institution_accounts_create"
      parameters:
      - in: "body"
        name: "Account"
        description: "Account description"
        required: true
        schema:
          $ref: "#/definitions/AccountCreate"
        x-exportParamName: "Account"
      responses:
        "201":
          description: "Created"
          schema:
            $ref: "#/definitions/AccountCreateResponse"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/institution/accounts/search:
    post:
      tags:
      - "institutions"
      summary: "Private Account Institution Accounts Search"
      description: "Returns the accounts for which the account has administrative\
        \ privileges (assigned and inherited)."
      operationId: "private_institution_accounts_search"
      parameters:
      - in: "body"
        name: "search"
        description: "Search Parameters"
        required: true
        schema:
          $ref: "#/definitions/InstitutionAccountsSearch"
        x-exportParamName: "Search"
      responses:
        "200":
          description: "OK. An array of Accounts"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ShortAccount"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
  /account/institution/accounts/{account_id}:
    get:
      tags:
      - "institutions"
      summary: "Private Institution Account information"
      description: "Private Institution Account information"
      operationId: "private_institution_account"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account identifier the user is associated to"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "AccountId"
      responses:
        "200":
          description: "OK. Account"
          schema:
            $ref: "#/definitions/Account"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
      security:
      - OAuth2:
        - "all"
    put:
      tags:
      - "institutions"
      summary: "Update Institution Account"
      description: "Update Institution Account"
      operationId: "private_institution_accounts_update"
      parameters:
      - name: "account_id"
        in: "path"
        description: "Account identifier the user is associated to"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "Account"
        description: "Account description"
        required: true
        schema:
          $ref: "#/definitions/AccountUpdate"
        x-exportParamName: "Account"
      responses:
        "205":
          description: "Reset Content"
          headers:
            Location:
              type: "string"
              format: "link"
              description: "Location of newly created article"
        "400":
          description: "Bad Request"
        "403":
          description: "Forbidden"
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: "Not Found"
        "500":
          description: "Internal Server Error"
[...]
