/*
Figshare API

Figshare apiv2. Using OpenApi 3.1.0

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package go_figshare

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ArticlesAPIService ArticlesAPI service
type ArticlesAPIService service

type ApiArticleDetailsRequest struct {
	ctx context.Context
	ApiService *ArticlesAPIService
	articleId int64
}

func (r ApiArticleDetailsRequest) Execute() (*ArticleComplete, *http.Response, error) {
	return r.ApiService.ArticleDetailsExecute(r)
}

/*
ArticleDetails View article details

View an article

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param articleId Article Unique identifier
 @return ApiArticleDetailsRequest
*/
func (a *ArticlesAPIService) ArticleDetails(ctx context.Context, articleId int64) ApiArticleDetailsRequest {
	return ApiArticleDetailsRequest{
		ApiService: a,
		ctx: ctx,
		articleId: articleId,
	}
}

// Execute executes the request
//  @return ArticleComplete
func (a *ArticlesAPIService) ArticleDetailsExecute(r ApiArticleDetailsRequest) (*ArticleComplete, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArticleComplete
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArticlesAPIService.ArticleDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/articles/{article_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"article_id"+"}", url.PathEscape(parameterValueToString(r.articleId, "articleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.articleId < 1 {
		return localVarReturnValue, nil, reportError("articleId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiArticlesListRequest struct {
	ctx context.Context
	ApiService *ArticlesAPIService
	page *int64
	pageSize *int64
	limit *int64
	offset *int64
	order *string
	orderDirection *string
	institution *int64
	publishedSince *string
	modifiedSince *string
	group *int64
	resourceDoi *string
	itemType *int64
	doi *string
	handle *string
}

// Page number. Used for pagination with page_size
func (r ApiArticlesListRequest) Page(page int64) ApiArticlesListRequest {
	r.page = &page
	return r
}

// The number of results included on a page. Used for pagination with page
func (r ApiArticlesListRequest) PageSize(pageSize int64) ApiArticlesListRequest {
	r.pageSize = &pageSize
	return r
}

// Number of results included on a page. Used for pagination with query
func (r ApiArticlesListRequest) Limit(limit int64) ApiArticlesListRequest {
	r.limit = &limit
	return r
}

// Where to start the listing (the offset of the first result). Used for pagination with limit
func (r ApiArticlesListRequest) Offset(offset int64) ApiArticlesListRequest {
	r.offset = &offset
	return r
}

// The field by which to order. Default varies by endpoint/resource.
func (r ApiArticlesListRequest) Order(order string) ApiArticlesListRequest {
	r.order = &order
	return r
}

func (r ApiArticlesListRequest) OrderDirection(orderDirection string) ApiArticlesListRequest {
	r.orderDirection = &orderDirection
	return r
}

// only return articles from this institution
func (r ApiArticlesListRequest) Institution(institution int64) ApiArticlesListRequest {
	r.institution = &institution
	return r
}

// Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
func (r ApiArticlesListRequest) PublishedSince(publishedSince string) ApiArticlesListRequest {
	r.publishedSince = &publishedSince
	return r
}

// Filter by article modified date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
func (r ApiArticlesListRequest) ModifiedSince(modifiedSince string) ApiArticlesListRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// only return articles from this group
func (r ApiArticlesListRequest) Group(group int64) ApiArticlesListRequest {
	r.group = &group
	return r
}

// Deprecated by related materials. Only return articles with this resource_doi
func (r ApiArticlesListRequest) ResourceDoi(resourceDoi string) ApiArticlesListRequest {
	r.resourceDoi = &resourceDoi
	return r
}

// Only return articles with the respective type. Mapping for item_type is: 1 - Figure, 2 - Media, 3 - Dataset, 5 - Poster, 6 - Journal contribution, 7 - Presentation, 8 - Thesis, 9 - Software, 11 - Online resource, 12 - Preprint, 13 - Book, 14 - Conference contribution, 15 - Chapter, 16 - Peer review, 17 - Educational resource, 18 - Report, 19 - Standard, 20 - Composition, 21 - Funding, 22 - Physical object, 23 - Data management plan, 24 - Workflow, 25 - Monograph, 26 - Performance, 27 - Event, 28 - Service, 29 - Model
func (r ApiArticlesListRequest) ItemType(itemType int64) ApiArticlesListRequest {
	r.itemType = &itemType
	return r
}

// only return articles with this doi
func (r ApiArticlesListRequest) Doi(doi string) ApiArticlesListRequest {
	r.doi = &doi
	return r
}

// only return articles with this handle
func (r ApiArticlesListRequest) Handle(handle string) ApiArticlesListRequest {
	r.handle = &handle
	return r
}

func (r ApiArticlesListRequest) Execute() (*Article, *http.Response, error) {
	return r.ApiService.ArticlesListExecute(r)
}

/*
ArticlesList Public Articles

Returns a list of public articles

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiArticlesListRequest
*/
func (a *ArticlesAPIService) ArticlesList(ctx context.Context) ApiArticlesListRequest {
	return ApiArticlesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Article
func (a *ArticlesAPIService) ArticlesListExecute(r ApiArticlesListRequest) (*Article, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Article
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArticlesAPIService.ArticlesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/articles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	} else {
		var defaultValue int64 = 10
		r.pageSize = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	} else {
		var defaultValue string = "published_date"
		r.order = &defaultValue
	}
	if r.orderDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_direction", r.orderDirection, "")
	} else {
		var defaultValue string = "desc"
		r.orderDirection = &defaultValue
	}
	if r.institution != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "institution", r.institution, "")
	}
	if r.publishedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "published_since", r.publishedSince, "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modified_since", r.modifiedSince, "")
	}
	if r.group != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group", r.group, "")
	}
	if r.resourceDoi != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_doi", r.resourceDoi, "")
	}
	if r.itemType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "item_type", r.itemType, "")
	}
	if r.doi != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "doi", r.doi, "")
	}
	if r.handle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "handle", r.handle, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCrawlTotalArticleRequest struct {
	ctx context.Context
	ApiService *ArticlesAPIService
	articleId int64
}

func (r ApiCrawlTotalArticleRequest) Execute() (*TotalArticle, *http.Response, error) {
	return r.ApiService.CrawlTotalArticleExecute(r)
}

/*
CrawlTotalArticle View article total downloads, views

View article total downloads, views

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param articleId Article Unique identifier
 @return ApiCrawlTotalArticleRequest
*/
func (a *ArticlesAPIService) CrawlTotalArticle(ctx context.Context, articleId int64) ApiCrawlTotalArticleRequest {
	return ApiCrawlTotalArticleRequest{
		ApiService: a,
		ctx: ctx,
		articleId: articleId,
	}
}

// Execute executes the request
//  @return TotalArticle
func (a *ArticlesAPIService) CrawlTotalArticleExecute(r ApiCrawlTotalArticleRequest) (*TotalArticle, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TotalArticle
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArticlesAPIService.CrawlTotalArticle")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/total/article/{article_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"article_id"+"}", url.PathEscape(parameterValueToString(r.articleId, "articleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.articleId < 1 {
		return localVarReturnValue, nil, reportError("articleId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
