/*
Figshare API

Figshare apiv2. Using Swagger 2.0

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package go_figshare

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// InstitutionsAPIService InstitutionsAPI service
type InstitutionsAPIService service

type ApiAccountInstitutionCurationRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	curationId int64
}

func (r ApiAccountInstitutionCurationRequest) Execute() (*CurationDetail, *http.Response, error) {
	return r.ApiService.AccountInstitutionCurationExecute(r)
}

/*
AccountInstitutionCuration Institution Curation Review

Retrieve a certain curation review by its ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param curationId ID of the curation
 @return ApiAccountInstitutionCurationRequest
*/
func (a *InstitutionsAPIService) AccountInstitutionCuration(ctx context.Context, curationId int64) ApiAccountInstitutionCurationRequest {
	return ApiAccountInstitutionCurationRequest{
		ApiService: a,
		ctx: ctx,
		curationId: curationId,
	}
}

// Execute executes the request
//  @return CurationDetail
func (a *InstitutionsAPIService) AccountInstitutionCurationExecute(r ApiAccountInstitutionCurationRequest) (*CurationDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CurationDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.AccountInstitutionCuration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/review/{curation_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"curation_id"+"}", url.PathEscape(parameterValueToString(r.curationId, "curationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.curationId < 1 {
		return localVarReturnValue, nil, reportError("curationId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountInstitutionCurationsRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	groupId *int64
	articleId *int64
	status *string
	limit *int64
	offset *int64
}

// Filter by the group ID
func (r ApiAccountInstitutionCurationsRequest) GroupId(groupId int64) ApiAccountInstitutionCurationsRequest {
	r.groupId = &groupId
	return r
}

// Retrieve the reviews for this article
func (r ApiAccountInstitutionCurationsRequest) ArticleId(articleId int64) ApiAccountInstitutionCurationsRequest {
	r.articleId = &articleId
	return r
}

// Filter by the status of the review
func (r ApiAccountInstitutionCurationsRequest) Status(status string) ApiAccountInstitutionCurationsRequest {
	r.status = &status
	return r
}

// Number of results included on a page. Used for pagination with query
func (r ApiAccountInstitutionCurationsRequest) Limit(limit int64) ApiAccountInstitutionCurationsRequest {
	r.limit = &limit
	return r
}

// Where to start the listing (the offset of the first result). Used for pagination with limit
func (r ApiAccountInstitutionCurationsRequest) Offset(offset int64) ApiAccountInstitutionCurationsRequest {
	r.offset = &offset
	return r
}

func (r ApiAccountInstitutionCurationsRequest) Execute() (*Curation, *http.Response, error) {
	return r.ApiService.AccountInstitutionCurationsExecute(r)
}

/*
AccountInstitutionCurations Institution Curation Reviews

Retrieve a list of curation reviews for this institution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAccountInstitutionCurationsRequest
*/
func (a *InstitutionsAPIService) AccountInstitutionCurations(ctx context.Context) ApiAccountInstitutionCurationsRequest {
	return ApiAccountInstitutionCurationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Curation
func (a *InstitutionsAPIService) AccountInstitutionCurationsExecute(r ApiAccountInstitutionCurationsRequest) (*Curation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Curation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.AccountInstitutionCurations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/reviews"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.groupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_id", r.groupId, "")
	}
	if r.articleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "article_id", r.articleId, "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomFieldsListRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	groupId *int64
}

// Group_id
func (r ApiCustomFieldsListRequest) GroupId(groupId int64) ApiCustomFieldsListRequest {
	r.groupId = &groupId
	return r
}

func (r ApiCustomFieldsListRequest) Execute() ([]ShortCustomField, *http.Response, error) {
	return r.ApiService.CustomFieldsListExecute(r)
}

/*
CustomFieldsList Private account institution group custom fields

Returns the custom fields in the group the user belongs to, or the ones in the group specified, if the user has access.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomFieldsListRequest
*/
func (a *InstitutionsAPIService) CustomFieldsList(ctx context.Context) ApiCustomFieldsListRequest {
	return ApiCustomFieldsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ShortCustomField
func (a *InstitutionsAPIService) CustomFieldsListExecute(r ApiCustomFieldsListRequest) ([]ShortCustomField, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ShortCustomField
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.CustomFieldsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/custom_fields"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.groupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_id", r.groupId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomFieldsUploadRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	customFieldId int64
	externalFile *os.File
}

// CSV file to be uploaded
func (r ApiCustomFieldsUploadRequest) ExternalFile(externalFile *os.File) ApiCustomFieldsUploadRequest {
	r.externalFile = externalFile
	return r
}

func (r ApiCustomFieldsUploadRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CustomFieldsUploadExecute(r)
}

/*
CustomFieldsUpload Custom fields values files upload

Uploads a CSV containing values for a specific custom field of type <b>dropdown_large_list</b>. More details in the <a href="#custom_fields">Custom Fields section</a>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customFieldId Custom field identifier
 @return ApiCustomFieldsUploadRequest
*/
func (a *InstitutionsAPIService) CustomFieldsUpload(ctx context.Context, customFieldId int64) ApiCustomFieldsUploadRequest {
	return ApiCustomFieldsUploadRequest{
		ApiService: a,
		ctx: ctx,
		customFieldId: customFieldId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *InstitutionsAPIService) CustomFieldsUploadExecute(r ApiCustomFieldsUploadRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.CustomFieldsUpload")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/custom_fields/{custom_field_id}/items/upload"
	localVarPath = strings.Replace(localVarPath, "{"+"custom_field_id"+"}", url.PathEscape(parameterValueToString(r.customFieldId, "customFieldId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customFieldId < 1 {
		return localVarReturnValue, nil, reportError("customFieldId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var externalFileLocalVarFormFileName string
	var externalFileLocalVarFileName     string
	var externalFileLocalVarFileBytes    []byte

	externalFileLocalVarFormFileName = "external_file"
	externalFileLocalVarFile := r.externalFile

	if externalFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(externalFileLocalVarFile)

		externalFileLocalVarFileBytes = fbs
		externalFileLocalVarFileName = externalFileLocalVarFile.Name()
		externalFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: externalFileLocalVarFileBytes, fileName: externalFileLocalVarFileName, formFileName: externalFileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAccountInstitutionCurationCommentsRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	curationId int64
	limit *int64
	offset *int64
}

// Number of results included on a page. Used for pagination with query
func (r ApiGetAccountInstitutionCurationCommentsRequest) Limit(limit int64) ApiGetAccountInstitutionCurationCommentsRequest {
	r.limit = &limit
	return r
}

// Where to start the listing (the offset of the first result). Used for pagination with limit
func (r ApiGetAccountInstitutionCurationCommentsRequest) Offset(offset int64) ApiGetAccountInstitutionCurationCommentsRequest {
	r.offset = &offset
	return r
}

func (r ApiGetAccountInstitutionCurationCommentsRequest) Execute() (*CurationComment, *http.Response, error) {
	return r.ApiService.GetAccountInstitutionCurationCommentsExecute(r)
}

/*
GetAccountInstitutionCurationComments Institution Curation Review Comments

Retrieve a certain curation review's comments.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param curationId ID of the curation
 @return ApiGetAccountInstitutionCurationCommentsRequest
*/
func (a *InstitutionsAPIService) GetAccountInstitutionCurationComments(ctx context.Context, curationId int64) ApiGetAccountInstitutionCurationCommentsRequest {
	return ApiGetAccountInstitutionCurationCommentsRequest{
		ApiService: a,
		ctx: ctx,
		curationId: curationId,
	}
}

// Execute executes the request
//  @return CurationComment
func (a *InstitutionsAPIService) GetAccountInstitutionCurationCommentsExecute(r ApiGetAccountInstitutionCurationCommentsRequest) (*CurationComment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CurationComment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.GetAccountInstitutionCurationComments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/review/{curation_id}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"curation_id"+"}", url.PathEscape(parameterValueToString(r.curationId, "curationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.curationId < 1 {
		return localVarReturnValue, nil, reportError("curationId must be greater than 1")
	}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInstitutionArticlesRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	institutionStringId string
	resourceId *string
	filename *string
}

func (r ApiInstitutionArticlesRequest) ResourceId(resourceId string) ApiInstitutionArticlesRequest {
	r.resourceId = &resourceId
	return r
}

func (r ApiInstitutionArticlesRequest) Filename(filename string) ApiInstitutionArticlesRequest {
	r.filename = &filename
	return r
}

func (r ApiInstitutionArticlesRequest) Execute() ([]Article, *http.Response, error) {
	return r.ApiService.InstitutionArticlesExecute(r)
}

/*
InstitutionArticles Public Institution Articles

Returns a list of articles belonging to the institution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param institutionStringId
 @return ApiInstitutionArticlesRequest
*/
func (a *InstitutionsAPIService) InstitutionArticles(ctx context.Context, institutionStringId string) ApiInstitutionArticlesRequest {
	return ApiInstitutionArticlesRequest{
		ApiService: a,
		ctx: ctx,
		institutionStringId: institutionStringId,
	}
}

// Execute executes the request
//  @return []Article
func (a *InstitutionsAPIService) InstitutionArticlesExecute(r ApiInstitutionArticlesRequest) ([]Article, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Article
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.InstitutionArticles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/institutions/{institution_string_id}/articles/filter-by"
	localVarPath = strings.Replace(localVarPath, "{"+"institution_string_id"+"}", url.PathEscape(parameterValueToString(r.institutionStringId, "institutionStringId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resourceId == nil {
		return localVarReturnValue, nil, reportError("resourceId is required and must be specified")
	}
	if r.filename == nil {
		return localVarReturnValue, nil, reportError("filename is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "resource_id", r.resourceId, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInstitutionHrfeedUploadRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	hrfeed *os.File
}

// You can find an example in the Hr Feed section
func (r ApiInstitutionHrfeedUploadRequest) Hrfeed(hrfeed *os.File) ApiInstitutionHrfeedUploadRequest {
	r.hrfeed = hrfeed
	return r
}

func (r ApiInstitutionHrfeedUploadRequest) Execute() (*ResponseMessage, *http.Response, error) {
	return r.ApiService.InstitutionHrfeedUploadExecute(r)
}

/*
InstitutionHrfeedUpload Private Institution HRfeed Upload

More info in the <a href="#hr_feed">HR Feed section</a>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInstitutionHrfeedUploadRequest
*/
func (a *InstitutionsAPIService) InstitutionHrfeedUpload(ctx context.Context) ApiInstitutionHrfeedUploadRequest {
	return ApiInstitutionHrfeedUploadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseMessage
func (a *InstitutionsAPIService) InstitutionHrfeedUploadExecute(r ApiInstitutionHrfeedUploadRequest) (*ResponseMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.InstitutionHrfeedUpload")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/institution/hrfeed/upload"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var hrfeedLocalVarFormFileName string
	var hrfeedLocalVarFileName     string
	var hrfeedLocalVarFileBytes    []byte

	hrfeedLocalVarFormFileName = "hrfeed"
	hrfeedLocalVarFile := r.hrfeed

	if hrfeedLocalVarFile != nil {
		fbs, _ := io.ReadAll(hrfeedLocalVarFile)

		hrfeedLocalVarFileBytes = fbs
		hrfeedLocalVarFileName = hrfeedLocalVarFile.Name()
		hrfeedLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: hrfeedLocalVarFileBytes, fileName: hrfeedLocalVarFileName, formFileName: hrfeedLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostAccountInstitutionCurationCommentsRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	curationId int64
	curationComment *CurationCommentCreate
}

// The content/value of the comment.
func (r ApiPostAccountInstitutionCurationCommentsRequest) CurationComment(curationComment CurationCommentCreate) ApiPostAccountInstitutionCurationCommentsRequest {
	r.curationComment = &curationComment
	return r
}

func (r ApiPostAccountInstitutionCurationCommentsRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostAccountInstitutionCurationCommentsExecute(r)
}

/*
PostAccountInstitutionCurationComments POST Institution Curation Review Comment

Add a new comment to the review.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param curationId ID of the curation
 @return ApiPostAccountInstitutionCurationCommentsRequest
*/
func (a *InstitutionsAPIService) PostAccountInstitutionCurationComments(ctx context.Context, curationId int64) ApiPostAccountInstitutionCurationCommentsRequest {
	return ApiPostAccountInstitutionCurationCommentsRequest{
		ApiService: a,
		ctx: ctx,
		curationId: curationId,
	}
}

// Execute executes the request
func (a *InstitutionsAPIService) PostAccountInstitutionCurationCommentsExecute(r ApiPostAccountInstitutionCurationCommentsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PostAccountInstitutionCurationComments")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/review/{curation_id}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"curation_id"+"}", url.PathEscape(parameterValueToString(r.curationId, "curationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.curationId < 1 {
		return nil, reportError("curationId must be greater than 1")
	}
	if r.curationComment == nil {
		return nil, reportError("curationComment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.curationComment
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPrivateAccountInstitutionUserRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	accountId int64
}

func (r ApiPrivateAccountInstitutionUserRequest) Execute() (*User, *http.Response, error) {
	return r.ApiService.PrivateAccountInstitutionUserExecute(r)
}

/*
PrivateAccountInstitutionUser Private Account Institution User

Retrieve institution user information using the account_id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Account identifier the user is associated to
 @return ApiPrivateAccountInstitutionUserRequest
*/
func (a *InstitutionsAPIService) PrivateAccountInstitutionUser(ctx context.Context, accountId int64) ApiPrivateAccountInstitutionUserRequest {
	return ApiPrivateAccountInstitutionUserRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return User
func (a *InstitutionsAPIService) PrivateAccountInstitutionUserExecute(r ApiPrivateAccountInstitutionUserRequest) (*User, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *User
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateAccountInstitutionUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/users/{account_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId < 1 {
		return localVarReturnValue, nil, reportError("accountId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrivateCategoriesListRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
}

func (r ApiPrivateCategoriesListRequest) Execute() ([]CategoryList, *http.Response, error) {
	return r.ApiService.PrivateCategoriesListExecute(r)
}

/*
PrivateCategoriesList Private Account Categories

List institution categories (including parent Categories)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrivateCategoriesListRequest
*/
func (a *InstitutionsAPIService) PrivateCategoriesList(ctx context.Context) ApiPrivateCategoriesListRequest {
	return ApiPrivateCategoriesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CategoryList
func (a *InstitutionsAPIService) PrivateCategoriesListExecute(r ApiPrivateCategoriesListRequest) ([]CategoryList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CategoryList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateCategoriesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/categories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrivateGroupEmbargoOptionsDetailsRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	groupId int64
}

func (r ApiPrivateGroupEmbargoOptionsDetailsRequest) Execute() ([]GroupEmbargoOptions, *http.Response, error) {
	return r.ApiService.PrivateGroupEmbargoOptionsDetailsExecute(r)
}

/*
PrivateGroupEmbargoOptionsDetails Private Account Institution Group Embargo Options

Account institution group embargo options details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId Group identifier
 @return ApiPrivateGroupEmbargoOptionsDetailsRequest
*/
func (a *InstitutionsAPIService) PrivateGroupEmbargoOptionsDetails(ctx context.Context, groupId int64) ApiPrivateGroupEmbargoOptionsDetailsRequest {
	return ApiPrivateGroupEmbargoOptionsDetailsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
	}
}

// Execute executes the request
//  @return []GroupEmbargoOptions
func (a *InstitutionsAPIService) PrivateGroupEmbargoOptionsDetailsExecute(r ApiPrivateGroupEmbargoOptionsDetailsRequest) ([]GroupEmbargoOptions, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GroupEmbargoOptions
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateGroupEmbargoOptionsDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/groups/{group_id}/embargo_options"
	localVarPath = strings.Replace(localVarPath, "{"+"group_id"+"}", url.PathEscape(parameterValueToString(r.groupId, "groupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.groupId < 1 {
		return localVarReturnValue, nil, reportError("groupId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrivateInstitutionAccountRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	accountId int64
}

func (r ApiPrivateInstitutionAccountRequest) Execute() (*Account, *http.Response, error) {
	return r.ApiService.PrivateInstitutionAccountExecute(r)
}

/*
PrivateInstitutionAccount Private Institution Account information

Private Institution Account information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Account identifier the user is associated to
 @return ApiPrivateInstitutionAccountRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionAccount(ctx context.Context, accountId int64) ApiPrivateInstitutionAccountRequest {
	return ApiPrivateInstitutionAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return Account
func (a *InstitutionsAPIService) PrivateInstitutionAccountExecute(r ApiPrivateInstitutionAccountRequest) (*Account, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Account
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/accounts/{account_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId < 1 {
		return localVarReturnValue, nil, reportError("accountId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrivateInstitutionAccountGroupRoleDeleteRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	accountId int64
	groupId int64
	roleId int64
}

func (r ApiPrivateInstitutionAccountGroupRoleDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.PrivateInstitutionAccountGroupRoleDeleteExecute(r)
}

/*
PrivateInstitutionAccountGroupRoleDelete Delete Institution Account Group Role

Delete Institution Account Group Role

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Account identifier for which to remove the role
 @param groupId Group identifier for which to remove the role
 @param roleId Role identifier
 @return ApiPrivateInstitutionAccountGroupRoleDeleteRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionAccountGroupRoleDelete(ctx context.Context, accountId int64, groupId int64, roleId int64) ApiPrivateInstitutionAccountGroupRoleDeleteRequest {
	return ApiPrivateInstitutionAccountGroupRoleDeleteRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
		groupId: groupId,
		roleId: roleId,
	}
}

// Execute executes the request
func (a *InstitutionsAPIService) PrivateInstitutionAccountGroupRoleDeleteExecute(r ApiPrivateInstitutionAccountGroupRoleDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionAccountGroupRoleDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/roles/{account_id}/{group_id}/{role_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"group_id"+"}", url.PathEscape(parameterValueToString(r.groupId, "groupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"role_id"+"}", url.PathEscape(parameterValueToString(r.roleId, "roleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId < 1 {
		return nil, reportError("accountId must be greater than 1")
	}
	if r.groupId < 1 {
		return nil, reportError("groupId must be greater than 1")
	}
	if r.roleId < 1 {
		return nil, reportError("roleId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPrivateInstitutionAccountGroupRolesRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	accountId int64
}

func (r ApiPrivateInstitutionAccountGroupRolesRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.PrivateInstitutionAccountGroupRolesExecute(r)
}

/*
PrivateInstitutionAccountGroupRoles List Institution Account Group Roles

List Institution Account Group Roles

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Account identifier the user is associated to
 @return ApiPrivateInstitutionAccountGroupRolesRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionAccountGroupRoles(ctx context.Context, accountId int64) ApiPrivateInstitutionAccountGroupRolesRequest {
	return ApiPrivateInstitutionAccountGroupRolesRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *InstitutionsAPIService) PrivateInstitutionAccountGroupRolesExecute(r ApiPrivateInstitutionAccountGroupRolesRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionAccountGroupRoles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/roles/{account_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId < 1 {
		return localVarReturnValue, nil, reportError("accountId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrivateInstitutionAccountGroupRolesCreateRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	accountId int64
	account *map[string]interface{}
}

// Account description
func (r ApiPrivateInstitutionAccountGroupRolesCreateRequest) Account(account map[string]interface{}) ApiPrivateInstitutionAccountGroupRolesCreateRequest {
	r.account = &account
	return r
}

func (r ApiPrivateInstitutionAccountGroupRolesCreateRequest) Execute() (*http.Response, error) {
	return r.ApiService.PrivateInstitutionAccountGroupRolesCreateExecute(r)
}

/*
PrivateInstitutionAccountGroupRolesCreate Add Institution Account Group Roles

Add Institution Account Group Roles

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Account identifier the user is associated to
 @return ApiPrivateInstitutionAccountGroupRolesCreateRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionAccountGroupRolesCreate(ctx context.Context, accountId int64) ApiPrivateInstitutionAccountGroupRolesCreateRequest {
	return ApiPrivateInstitutionAccountGroupRolesCreateRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *InstitutionsAPIService) PrivateInstitutionAccountGroupRolesCreateExecute(r ApiPrivateInstitutionAccountGroupRolesCreateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionAccountGroupRolesCreate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/roles/{account_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId < 1 {
		return nil, reportError("accountId must be greater than 1")
	}
	if r.account == nil {
		return nil, reportError("account is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.account
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPrivateInstitutionAccountsCreateRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	account *AccountCreate
}

// Account description
func (r ApiPrivateInstitutionAccountsCreateRequest) Account(account AccountCreate) ApiPrivateInstitutionAccountsCreateRequest {
	r.account = &account
	return r
}

func (r ApiPrivateInstitutionAccountsCreateRequest) Execute() (*AccountCreateResponse, *http.Response, error) {
	return r.ApiService.PrivateInstitutionAccountsCreateExecute(r)
}

/*
PrivateInstitutionAccountsCreate Create new Institution Account

Create a new Account by sending account information. When the institution_user_id is provided, no verification email will be sent. The email_verified flag will automatically be set to true. If the institution_user_id is not provided, a verification email will be sent. The email_verified flag will be set to true once the account is created.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrivateInstitutionAccountsCreateRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionAccountsCreate(ctx context.Context) ApiPrivateInstitutionAccountsCreateRequest {
	return ApiPrivateInstitutionAccountsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountCreateResponse
func (a *InstitutionsAPIService) PrivateInstitutionAccountsCreateExecute(r ApiPrivateInstitutionAccountsCreateRequest) (*AccountCreateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountCreateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionAccountsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.account == nil {
		return localVarReturnValue, nil, reportError("account is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.account
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrivateInstitutionAccountsListRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	page *int64
	pageSize *int64
	limit *int64
	offset *int64
	isActive *int64
	institutionUserId *string
	email *string
	idLte *int64
	idGte *int64
}

// Page number. Used for pagination with page_size
func (r ApiPrivateInstitutionAccountsListRequest) Page(page int64) ApiPrivateInstitutionAccountsListRequest {
	r.page = &page
	return r
}

// The number of results included on a page. Used for pagination with page
func (r ApiPrivateInstitutionAccountsListRequest) PageSize(pageSize int64) ApiPrivateInstitutionAccountsListRequest {
	r.pageSize = &pageSize
	return r
}

// Number of results included on a page. Used for pagination with query
func (r ApiPrivateInstitutionAccountsListRequest) Limit(limit int64) ApiPrivateInstitutionAccountsListRequest {
	r.limit = &limit
	return r
}

// Where to start the listing (the offset of the first result). Used for pagination with limit
func (r ApiPrivateInstitutionAccountsListRequest) Offset(offset int64) ApiPrivateInstitutionAccountsListRequest {
	r.offset = &offset
	return r
}

// Filter by active status
func (r ApiPrivateInstitutionAccountsListRequest) IsActive(isActive int64) ApiPrivateInstitutionAccountsListRequest {
	r.isActive = &isActive
	return r
}

// Filter by institution_user_id
func (r ApiPrivateInstitutionAccountsListRequest) InstitutionUserId(institutionUserId string) ApiPrivateInstitutionAccountsListRequest {
	r.institutionUserId = &institutionUserId
	return r
}

// Filter by email
func (r ApiPrivateInstitutionAccountsListRequest) Email(email string) ApiPrivateInstitutionAccountsListRequest {
	r.email = &email
	return r
}

// Retrieve accounts with an ID lower or equal to the specified value
func (r ApiPrivateInstitutionAccountsListRequest) IdLte(idLte int64) ApiPrivateInstitutionAccountsListRequest {
	r.idLte = &idLte
	return r
}

// Retrieve accounts with an ID greater or equal to the specified value
func (r ApiPrivateInstitutionAccountsListRequest) IdGte(idGte int64) ApiPrivateInstitutionAccountsListRequest {
	r.idGte = &idGte
	return r
}

func (r ApiPrivateInstitutionAccountsListRequest) Execute() ([]ShortAccount, *http.Response, error) {
	return r.ApiService.PrivateInstitutionAccountsListExecute(r)
}

/*
PrivateInstitutionAccountsList Private Account Institution Accounts

Returns the accounts for which the account has administrative privileges (assigned and inherited).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrivateInstitutionAccountsListRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionAccountsList(ctx context.Context) ApiPrivateInstitutionAccountsListRequest {
	return ApiPrivateInstitutionAccountsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ShortAccount
func (a *InstitutionsAPIService) PrivateInstitutionAccountsListExecute(r ApiPrivateInstitutionAccountsListRequest) ([]ShortAccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ShortAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionAccountsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	} else {
		var defaultValue int64 = 10
		r.pageSize = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.isActive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_active", r.isActive, "")
	}
	if r.institutionUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "institution_user_id", r.institutionUserId, "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id_lte", r.idLte, "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id_gte", r.idGte, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrivateInstitutionAccountsSearchRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	search *InstitutionAccountsSearch
}

// Search Parameters
func (r ApiPrivateInstitutionAccountsSearchRequest) Search(search InstitutionAccountsSearch) ApiPrivateInstitutionAccountsSearchRequest {
	r.search = &search
	return r
}

func (r ApiPrivateInstitutionAccountsSearchRequest) Execute() ([]ShortAccount, *http.Response, error) {
	return r.ApiService.PrivateInstitutionAccountsSearchExecute(r)
}

/*
PrivateInstitutionAccountsSearch Private Account Institution Accounts Search

Returns the accounts for which the account has administrative privileges (assigned and inherited).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrivateInstitutionAccountsSearchRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionAccountsSearch(ctx context.Context) ApiPrivateInstitutionAccountsSearchRequest {
	return ApiPrivateInstitutionAccountsSearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ShortAccount
func (a *InstitutionsAPIService) PrivateInstitutionAccountsSearchExecute(r ApiPrivateInstitutionAccountsSearchRequest) ([]ShortAccount, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ShortAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionAccountsSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/accounts/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.search == nil {
		return localVarReturnValue, nil, reportError("search is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.search
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrivateInstitutionAccountsUpdateRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	accountId int64
	account *AccountUpdate
}

// Account description
func (r ApiPrivateInstitutionAccountsUpdateRequest) Account(account AccountUpdate) ApiPrivateInstitutionAccountsUpdateRequest {
	r.account = &account
	return r
}

func (r ApiPrivateInstitutionAccountsUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.PrivateInstitutionAccountsUpdateExecute(r)
}

/*
PrivateInstitutionAccountsUpdate Update Institution Account

Update Institution Account

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId Account identifier the user is associated to
 @return ApiPrivateInstitutionAccountsUpdateRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionAccountsUpdate(ctx context.Context, accountId int64) ApiPrivateInstitutionAccountsUpdateRequest {
	return ApiPrivateInstitutionAccountsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
func (a *InstitutionsAPIService) PrivateInstitutionAccountsUpdateExecute(r ApiPrivateInstitutionAccountsUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionAccountsUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/accounts/{account_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_id"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId < 1 {
		return nil, reportError("accountId must be greater than 1")
	}
	if r.account == nil {
		return nil, reportError("account is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.account
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPrivateInstitutionArticlesRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
	page *int64
	pageSize *int64
	limit *int64
	offset *int64
	order *string
	orderDirection *string
	publishedSince *string
	modifiedSince *string
	status *int64
	resourceDoi *string
	itemType *int64
	group *int64
}

// Page number. Used for pagination with page_size
func (r ApiPrivateInstitutionArticlesRequest) Page(page int64) ApiPrivateInstitutionArticlesRequest {
	r.page = &page
	return r
}

// The number of results included on a page. Used for pagination with page
func (r ApiPrivateInstitutionArticlesRequest) PageSize(pageSize int64) ApiPrivateInstitutionArticlesRequest {
	r.pageSize = &pageSize
	return r
}

// Number of results included on a page. Used for pagination with query
func (r ApiPrivateInstitutionArticlesRequest) Limit(limit int64) ApiPrivateInstitutionArticlesRequest {
	r.limit = &limit
	return r
}

// Where to start the listing (the offset of the first result). Used for pagination with limit
func (r ApiPrivateInstitutionArticlesRequest) Offset(offset int64) ApiPrivateInstitutionArticlesRequest {
	r.offset = &offset
	return r
}

// The field by which to order. Default varies by endpoint/resource.
func (r ApiPrivateInstitutionArticlesRequest) Order(order string) ApiPrivateInstitutionArticlesRequest {
	r.order = &order
	return r
}

func (r ApiPrivateInstitutionArticlesRequest) OrderDirection(orderDirection string) ApiPrivateInstitutionArticlesRequest {
	r.orderDirection = &orderDirection
	return r
}

// Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
func (r ApiPrivateInstitutionArticlesRequest) PublishedSince(publishedSince string) ApiPrivateInstitutionArticlesRequest {
	r.publishedSince = &publishedSince
	return r
}

// Filter by article modified date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
func (r ApiPrivateInstitutionArticlesRequest) ModifiedSince(modifiedSince string) ApiPrivateInstitutionArticlesRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// only return collections with this status
func (r ApiPrivateInstitutionArticlesRequest) Status(status int64) ApiPrivateInstitutionArticlesRequest {
	r.status = &status
	return r
}

// only return collections with this resource_doi
func (r ApiPrivateInstitutionArticlesRequest) ResourceDoi(resourceDoi string) ApiPrivateInstitutionArticlesRequest {
	r.resourceDoi = &resourceDoi
	return r
}

// Only return articles with the respective type. Mapping for item_type is: 1 - Figure, 2 - Media, 3 - Dataset, 5 - Poster, 6 - Journal contribution, 7 - Presentation, 8 - Thesis, 9 - Software, 11 - Online resource, 12 - Preprint, 13 - Book, 14 - Conference contribution, 15 - Chapter, 16 - Peer review, 17 - Educational resource, 18 - Report, 19 - Standard, 20 - Composition, 21 - Funding, 22 - Physical object, 23 - Data management plan, 24 - Workflow, 25 - Monograph, 26 - Performance, 27 - Event, 28 - Service, 29 - Model
func (r ApiPrivateInstitutionArticlesRequest) ItemType(itemType int64) ApiPrivateInstitutionArticlesRequest {
	r.itemType = &itemType
	return r
}

// only return articles from this group
func (r ApiPrivateInstitutionArticlesRequest) Group(group int64) ApiPrivateInstitutionArticlesRequest {
	r.group = &group
	return r
}

func (r ApiPrivateInstitutionArticlesRequest) Execute() ([]Article, *http.Response, error) {
	return r.ApiService.PrivateInstitutionArticlesExecute(r)
}

/*
PrivateInstitutionArticles Private Institution Articles

Get Articles from own institution. User must be administrator of the institution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrivateInstitutionArticlesRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionArticles(ctx context.Context) ApiPrivateInstitutionArticlesRequest {
	return ApiPrivateInstitutionArticlesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Article
func (a *InstitutionsAPIService) PrivateInstitutionArticlesExecute(r ApiPrivateInstitutionArticlesRequest) ([]Article, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Article
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionArticles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/articles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	} else {
		var defaultValue int64 = 10
		r.pageSize = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	} else {
		var defaultValue string = "published_date"
		r.order = &defaultValue
	}
	if r.orderDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_direction", r.orderDirection, "")
	} else {
		var defaultValue string = "desc"
		r.orderDirection = &defaultValue
	}
	if r.publishedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "published_since", r.publishedSince, "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modified_since", r.modifiedSince, "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "")
	}
	if r.resourceDoi != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_doi", r.resourceDoi, "")
	}
	if r.itemType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "item_type", r.itemType, "")
	}
	if r.group != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group", r.group, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrivateInstitutionDetailsRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
}

func (r ApiPrivateInstitutionDetailsRequest) Execute() (*Institution, *http.Response, error) {
	return r.ApiService.PrivateInstitutionDetailsExecute(r)
}

/*
PrivateInstitutionDetails Private Account Institutions

Account institution details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrivateInstitutionDetailsRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionDetails(ctx context.Context) ApiPrivateInstitutionDetailsRequest {
	return ApiPrivateInstitutionDetailsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Institution
func (a *InstitutionsAPIService) PrivateInstitutionDetailsExecute(r ApiPrivateInstitutionDetailsRequest) (*Institution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Institution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorMessage
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrivateInstitutionEmbargoOptionsDetailsRequest struct {
	ctx context.Context
	ApiService *InstitutionsAPIService
}

func (r ApiPrivateInstitutionEmbargoOptionsDetailsRequest) Execute() ([]GroupEmbargoOptions, *http.Response, error) {
	return r.ApiService.PrivateInstitutionEmbargoOptionsDetailsExecute(r)
}

/*
PrivateInstitutionEmbargoOptionsDetails Private Account Institution embargo options

Account institution embargo options details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrivateInstitutionEmbargoOptionsDetailsRequest
*/
func (a *InstitutionsAPIService) PrivateInstitutionEmbargoOptionsDetails(ctx context.Context) ApiPrivateInstitutionEmbargoOptionsDetailsRequest {
	return ApiPrivateInstitutionEmbargoOptionsDetailsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []GroupEmbargoOptions
func (a *InstitutionsAPIService) PrivateInstitutionEmbargoOptionsDetailsExecute(r ApiPrivateInstitutionEmbargoOptionsDetailsRequest) ([]GroupEmbargoOptions, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GroupEmbargoOptions
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InstitutionsAPIService.PrivateInstitutionEmbargoOptionsDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/institution/embargo_options"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

[...]
