/*
Figshare API

Figshare apiv2. Using OpenApi 3.1.0

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package go_figshare

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ArticlesAPIService ArticlesAPI service
type ArticlesAPIService service

type ApiArticleDetailsRequest struct {
	ctx context.Context
	ApiService *ArticlesAPIService
	articleId int64
}

func (r ApiArticleDetailsRequest) Execute() (*ArticleComplete, *http.Response, error) {
	return r.ApiService.ArticleDetailsExecute(r)
}

/*
ArticleDetails View article details

View an article

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param articleId Article Unique identifier
 @return ApiArticleDetailsRequest
*/
func (a *ArticlesAPIService) ArticleDetails(ctx context.Context, articleId int64) ApiArticleDetailsRequest {
	return ApiArticleDetailsRequest{
		ApiService: a,
		ctx: ctx,
		articleId: articleId,
	}
}

// Execute executes the request
//  @return ArticleComplete
func (a *ArticlesAPIService) ArticleDetailsExecute(r ApiArticleDetailsRequest) (*ArticleComplete, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArticleComplete
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArticlesAPIService.ArticleDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/articles/{article_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"article_id"+"}", url.PathEscape(parameterValueToString(r.articleId, "articleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.articleId < 1 {
		return localVarReturnValue, nil, reportError("articleId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiArticlesListRequest struct {
	ctx context.Context
	ApiService *ArticlesAPIService
	xCursor *string
	page *int64
	pageSize *int64
	limit *int64
	offset *int64
	order *string
	orderDirection *string
	institution *int64
	publishedSince *string
	modifiedSince *string
	group *int64
	resourceDoi *string
	itemType *int64
	doi *string
	handle *string
}

// Unique hash used for bypassing the item retrieval limit of 9,000 entities. When using this parameter, please note that the offset parameter will not be available, but the limit parameter will still work as expected.
func (r ApiArticlesListRequest) XCursor(xCursor string) ApiArticlesListRequest {
	r.xCursor = &xCursor
	return r
}

// Page number. Used for pagination with page_size
func (r ApiArticlesListRequest) Page(page int64) ApiArticlesListRequest {
	r.page = &page
	return r
}

// The number of results included on a page. Used for pagination with page
func (r ApiArticlesListRequest) PageSize(pageSize int64) ApiArticlesListRequest {
	r.pageSize = &pageSize
	return r
}

// Number of results included on a page. Used for pagination with query
func (r ApiArticlesListRequest) Limit(limit int64) ApiArticlesListRequest {
	r.limit = &limit
	return r
}

// Where to start the listing (the offset of the first result). Used for pagination with limit
func (r ApiArticlesListRequest) Offset(offset int64) ApiArticlesListRequest {
	r.offset = &offset
	return r
}

// The field by which to order. Default varies by endpoint/resource.
func (r ApiArticlesListRequest) Order(order string) ApiArticlesListRequest {
	r.order = &order
	return r
}

func (r ApiArticlesListRequest) OrderDirection(orderDirection string) ApiArticlesListRequest {
	r.orderDirection = &orderDirection
	return r
}

// only return articles from this institution
func (r ApiArticlesListRequest) Institution(institution int64) ApiArticlesListRequest {
	r.institution = &institution
	return r
}

// Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
func (r ApiArticlesListRequest) PublishedSince(publishedSince string) ApiArticlesListRequest {
	r.publishedSince = &publishedSince
	return r
}

// Filter by article modified date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
func (r ApiArticlesListRequest) ModifiedSince(modifiedSince string) ApiArticlesListRequest {
	r.modifiedSince = &modifiedSince
	return r
}

// only return articles from this group
func (r ApiArticlesListRequest) Group(group int64) ApiArticlesListRequest {
	r.group = &group
	return r
}

// Deprecated by related materials. Only return articles with this resource_doi
func (r ApiArticlesListRequest) ResourceDoi(resourceDoi string) ApiArticlesListRequest {
	r.resourceDoi = &resourceDoi
	return r
}

// Only return articles with the respective type. Mapping for item_type is: 1 - Figure, 2 - Media, 3 - Dataset, 5 - Poster, 6 - Journal contribution, 7 - Presentation, 8 - Thesis, 9 - Software, 11 - Online resource, 12 - Preprint, 13 - Book, 14 - Conference contribution, 15 - Chapter, 16 - Peer review, 17 - Educational resource, 18 - Report, 19 - Standard, 20 - Composition, 21 - Funding, 22 - Physical object, 23 - Data management plan, 24 - Workflow, 25 - Monograph, 26 - Performance, 27 - Event, 28 - Service, 29 - Model
func (r ApiArticlesListRequest) ItemType(itemType int64) ApiArticlesListRequest {
	r.itemType = &itemType
	return r
}

// only return articles with this doi
func (r ApiArticlesListRequest) Doi(doi string) ApiArticlesListRequest {
	r.doi = &doi
	return r
}

// only return articles with this handle
func (r ApiArticlesListRequest) Handle(handle string) ApiArticlesListRequest {
	r.handle = &handle
	return r
}

func (r ApiArticlesListRequest) Execute() ([]Article, *http.Response, error) {
	return r.ApiService.ArticlesListExecute(r)
}

/*
ArticlesList Public Articles

Returns a list of public articles

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiArticlesListRequest
*/
func (a *ArticlesAPIService) ArticlesList(ctx context.Context) ApiArticlesListRequest {
	return ApiArticlesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Article
func (a *ArticlesAPIService) ArticlesListExecute(r ApiArticlesListRequest) ([]Article, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Article
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArticlesAPIService.ArticlesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/articles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	} else {
		var defaultValue int64 = 10
		r.pageSize = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	} else {
		var defaultValue string = "published_date"
		r.order = &defaultValue
	}
	if r.orderDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_direction", r.orderDirection, "")
	} else {
		var defaultValue string = "desc"
		r.orderDirection = &defaultValue
	}
	if r.institution != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "institution", r.institution, "")
	}
	if r.publishedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "published_since", r.publishedSince, "")
	}
	if r.modifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modified_since", r.modifiedSince, "")
	}
	if r.group != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group", r.group, "")
	}
	if r.resourceDoi != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_doi", r.resourceDoi, "")
	}
	if r.itemType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "item_type", r.itemType, "")
	}
	if r.doi != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "doi", r.doi, "")
	}
	if r.handle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "handle", r.handle, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xCursor != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Cursor", r.xCursor, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCrawlTotalArticle4tuRequest struct {
	ctx context.Context
	ApiService *ArticlesAPIService
	articleId int64
}

func (r ApiCrawlTotalArticle4tuRequest) Execute() (*TotalArticle, *http.Response, error) {
	return r.ApiService.CrawlTotalArticle4tuExecute(r)
}

/*
CrawlTotalArticle4tu View article total downloads, views

View article total downloads, views

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param articleId Article Unique identifier
 @return ApiCrawlTotalArticle4tuRequest
*/
func (a *ArticlesAPIService) CrawlTotalArticle4tu(ctx context.Context, articleId int64) ApiCrawlTotalArticle4tuRequest {
	return ApiCrawlTotalArticle4tuRequest{
		ApiService: a,
		ctx: ctx,
		articleId: articleId,
	}
}

// Execute executes the request
//  @return TotalArticle
func (a *ArticlesAPIService) CrawlTotalArticle4tuExecute(r ApiCrawlTotalArticle4tuRequest) (*TotalArticle, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TotalArticle
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArticlesAPIService.CrawlTotalArticle4tu")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/4tu/total/article/{article_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"article_id"+"}", url.PathEscape(parameterValueToString(r.articleId, "articleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.articleId < 1 {
		return localVarReturnValue, nil, reportError("articleId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAggregatedCitationsRequest struct {
	ctx context.Context
	ApiService *ArticlesAPIService
	andSubsetFigshareDoi *string
	cookie *string
	xCsrfToken *string
	vizStaggr *string
	np *string
	userAgent *string
	referer *string
}

// Article DOI
func (r ApiGetAggregatedCitationsRequest) AndSubsetFigshareDoi(andSubsetFigshareDoi string) ApiGetAggregatedCitationsRequest {
	r.andSubsetFigshareDoi = &andSubsetFigshareDoi
	return r
}

// 必须包含 session 和 uber_auth_tkt
func (r ApiGetAggregatedCitationsRequest) Cookie(cookie string) ApiGetAggregatedCitationsRequest {
	r.cookie = &cookie
	return r
}

func (r ApiGetAggregatedCitationsRequest) XCsrfToken(xCsrfToken string) ApiGetAggregatedCitationsRequest {
	r.xCsrfToken = &xCsrfToken
	return r
}

func (r ApiGetAggregatedCitationsRequest) VizStaggr(vizStaggr string) ApiGetAggregatedCitationsRequest {
	r.vizStaggr = &vizStaggr
	return r
}

func (r ApiGetAggregatedCitationsRequest) Np(np string) ApiGetAggregatedCitationsRequest {
	r.np = &np
	return r
}

func (r ApiGetAggregatedCitationsRequest) UserAgent(userAgent string) ApiGetAggregatedCitationsRequest {
	r.userAgent = &userAgent
	return r
}

func (r ApiGetAggregatedCitationsRequest) Referer(referer string) ApiGetAggregatedCitationsRequest {
	r.referer = &referer
	return r
}

func (r ApiGetAggregatedCitationsRequest) Execute() (*AggregatedCitations, *http.Response, error) {
	return r.ApiService.GetAggregatedCitationsExecute(r)
}

/*
GetAggregatedCitations Get article aggregated citations

Get article aggregated citations

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAggregatedCitationsRequest
*/
func (a *ArticlesAPIService) GetAggregatedCitations(ctx context.Context) ApiGetAggregatedCitationsRequest {
	return ApiGetAggregatedCitationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AggregatedCitations
func (a *ArticlesAPIService) GetAggregatedCitationsExecute(r ApiGetAggregatedCitationsRequest) (*AggregatedCitations, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AggregatedCitations
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArticlesAPIService.GetAggregatedCitations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/viz/data/publication/for/aggregated-citations.json"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.andSubsetFigshareDoi == nil {
		return localVarReturnValue, nil, reportError("andSubsetFigshareDoi is required and must be specified")
	}
	if r.cookie == nil {
		return localVarReturnValue, nil, reportError("cookie is required and must be specified")
	}
	if r.xCsrfToken == nil {
		return localVarReturnValue, nil, reportError("xCsrfToken is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "and_subset_figshare_doi", r.andSubsetFigshareDoi, "")
	if r.vizStaggr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "viz-st:aggr", r.vizStaggr, "")
	}
	if r.np != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "np", r.np, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Cookie", r.cookie, "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-csrf-token", r.xCsrfToken, "")
	if r.userAgent != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "User-Agent", r.userAgent, "")
	}
	if r.referer != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Referer", r.referer, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTotalRequest struct {
	ctx context.Context
	ApiService *ArticlesAPIService
	articleId int64
}

func (r ApiTotalRequest) Execute() (*TotalArticle, *http.Response, error) {
	return r.ApiService.TotalExecute(r)
}

/*
Total View article total downloads, views

View article total downloads, views

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param articleId Article Unique identifier
 @return ApiTotalRequest
*/
func (a *ArticlesAPIService) Total(ctx context.Context, articleId int64) ApiTotalRequest {
	return ApiTotalRequest{
		ApiService: a,
		ctx: ctx,
		articleId: articleId,
	}
}

// Execute executes the request
//  @return TotalArticle
func (a *ArticlesAPIService) TotalExecute(r ApiTotalRequest) (*TotalArticle, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TotalArticle
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArticlesAPIService.Total")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/total/article/{article_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"article_id"+"}", url.PathEscape(parameterValueToString(r.articleId, "articleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.articleId < 1 {
		return localVarReturnValue, nil, reportError("articleId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTotalInsRequest struct {
	ctx context.Context
	ApiService *ArticlesAPIService
	institution string
	articleId int64
}

func (r ApiTotalInsRequest) Execute() (*TotalArticle, *http.Response, error) {
	return r.ApiService.TotalInsExecute(r)
}

/*
TotalIns View article total downloads, views

View article total downloads, views

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param institution institution
 @param articleId Article Unique identifier
 @return ApiTotalInsRequest
*/
func (a *ArticlesAPIService) TotalIns(ctx context.Context, institution string, articleId int64) ApiTotalInsRequest {
	return ApiTotalInsRequest{
		ApiService: a,
		ctx: ctx,
		institution: institution,
		articleId: articleId,
	}
}

// Execute executes the request
//  @return TotalArticle
func (a *ArticlesAPIService) TotalInsExecute(r ApiTotalInsRequest) (*TotalArticle, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TotalArticle
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArticlesAPIService.TotalIns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{institution}/total/article/{article_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"institution"+"}", url.PathEscape(parameterValueToString(r.institution, "institution")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"article_id"+"}", url.PathEscape(parameterValueToString(r.articleId, "articleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.articleId < 1 {
		return localVarReturnValue, nil, reportError("articleId must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
