{
  "swagger": "2.0",
  "info": {
    "title": "Figshare API",
    "description": "Figshare apiv2. Using Swagger 2.0",
    "version": "2.0.0"
  },
  "host": "api.figshare.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/articles": {
      "get": {
        "tags": [
          "articles"
        ],
        "operationId": "articles_list",
        "summary": "Public Articles",
        "description": "Returns a list of public articles",
        "security": [],
        "parameters": [
          {
            "name": "X-Cursor",
            "in": "header",
            "type": "string",
            "format": "uuid",
            "required": false,
            "description": "Unique hash used for bypassing the item retrieval limit of 9,000 entities. When using this parameter, please note that the offset parameter will not be available, but the limit parameter will still work as expected."
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number. Used for pagination with page_size",
            "required": false,
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 5000
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results included on a page. Used for pagination with page",
            "required": false,
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 1000,
            "default": 10
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results included on a page. Used for pagination with query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Where to start the listing (the offset of the first result). Used for pagination with limit",
            "required": false,
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 5000
          },
          {
            "name": "order",
            "in": "query",
            "description": "The field by which to order. Default varies by endpoint/resource.",
            "type": "string",
            "enum": [
              "published_date",
              "created_date",
              "modified_date",
              "views",
              "shares",
              "downloads",
              "cites"
            ],
            "default": "published_date",
            "required": false
          },
          {
            "name": "order_direction",
            "in": "query",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc",
            "required": false
          },
          {
            "name": "institution",
            "in": "query",
            "description": "only return articles from this institution",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "published_since",
            "in": "query",
            "description": "Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ",
            "type": "string",
            "required": false
          },
          {
            "name": "modified_since",
            "in": "query",
            "description": "Filter by article modified date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ",
            "type": "string",
            "required": false
          },
          {
            "name": "group",
            "in": "query",
            "description": "only return articles from this group",
            "type": "integer",
            "format": "int64",
            "required": false
          },
          {
            "name": "resource_doi",
            "in": "query",
            "description": "Deprecated by related materials. Only return articles with this resource_doi",
            "type": "string",
            "required": false
          },
          {
            "name": "item_type",
            "in": "query",
            "description": "Only return articles with the respective type. Mapping for item_type is: 1 - Figure, 2 - Media, 3 - Dataset, 5 - Poster, 6 - Journal contribution, 7 - Presentation, 8 - Thesis, 9 - Software, 11 - Online resource, 12 - Preprint, 13 - Book, 14 - Conference contribution, 15 - Chapter, 16 - Peer review, 17 - Educational resource, 18 - Report, 19 - Standard, 20 - Composition, 21 - Funding, 22 - Physical object, 23 - Data management plan, 24 - Workflow, 25 - Monograph, 26 - Performance, 27 - Event, 28 - Service, 29 - Model",
            "type": "integer",
            "format": "int64",
            "required": false
          },
          {
            "name": "doi",
            "in": "query",
            "description": "only return articles with this doi",
            "type": "string",
            "required": false
          },
          {
            "name": "handle",
            "in": "query",
            "description": "only return articles with this handle",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK. An array of articles",
            "headers": {
              "X-Cursor": {
                "type": "string",
                "description": "Unique hash used for bypassing the item retrieval limit of 9,000 entities."
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Article"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Unprocessable Entity. Syntax is correct but one of the parameters isn't correctly processed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/articles/{article_id}": {
      "get": {
        "tags": [
          "articles"
        ],
        "x-subcategory": "Public Article",
        "operationId": "article_details",
        "summary": "View article details",
        "description": "View an article",
        "security": [],
        "parameters": [
          {
            "name": "article_id",
            "in": "path",
            "description": "Article Unique identifier",
            "required": true,
            "type": "integer",
            "format": "int64",
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Article representation",
            "schema": {
              "$ref": "#/definitions/ArticleComplete"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/item_types": {
      "get": {
        "tags": [
          "other"
        ],
        "operationId": "item_types_list",
        "summary": "Item Types",
        "description": "Returns the list of Item Types of the requested group. If no user is authenticated, returns the item types available for Figshare.",
        "security": [
          {
            "OAuth2": [
              "all"
            ]
          }
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "description": "Identifier of the group for which the item types are requested",
            "required": false,
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK. An array of item types",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ItemType"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "other"
        ],
        "operationId": "categories_list",
        "summary": "Public Categories",
        "description": "Returns a list of public categories",
        "security": [],
        "responses": {
          "200": {
            "description": "OK. An array of categories",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CategoryList"
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/licenses": {
      "get": {
        "tags": [
          "other"
        ],
        "operationId": "licenses_list",
        "summary": "Public Licenses",
        "description": "Returns a list of public licenses",
        "security": [],
        "responses": {
          "200": {
            "description": "OK. An array of licenses",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/License"
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "CreateOAuthToken": {
      "x-tag": "oauth",
      "type": "object",
      "required": [
        "client_id",
        "client_secret",
        "grant_type"
      ],
      "properties": {
        "client_id": {
          "type": "string"
        },
        "client_secret": {
          "type": "string"
        },
        "grant_type": {
          "type": "string",
          "enum": [
            "authorization_code",
            "refresh_token",
            "password",
            "client_credentials"
          ]
        },
        "code": {
          "type": "string",
          "description": "Required if grant_type is 'authorization_code'"
        },
        "refresh_token": {
          "type": "string",
          "description": "Required if grant_type is 'refresh_token'"
        },
        "username": {
          "type": "string",
          "description": "Required if grant_type is 'password'"
        },
        "password": {
          "type": "string",
          "description": "Required if grant_type is 'password'"
        }
      }
    },
    "OAuthToken": {
      "x-tag": "oauth",
      "type": "object",
      "required": [
        "access_token",
        "token_type",
        "expires_in"
      ],
      "properties": {
        "access_token": {
          "type": "string",
          "description": "The OAuth access token",
          "example": "abcd1234567890efgh"
        },
        "token": {
          "type": "string",
          "description": "The OAuth access token",
          "example": "abcd1234567890efgh"
        },
        "token_type": {
          "type": "string",
          "description": "The type of token issued",
          "example": "bearer"
        },
        "expires_in": {
          "type": "integer",
          "format": "int64",
          "description": "Token expiration time in seconds",
          "example": 3600
        },
        "refresh_token": {
          "type": "string",
          "description": "The refresh token (only provided for certain grant types)",
          "example": "refresh_abcd1234567890efgh"
        },
        "scope": {
          "type": "string",
          "description": "The scope of the access token",
          "example": "all"
        }
      }
    },
    "AccountGroupRoles": {
      "x-tag": "institutions",
      "type": "object",
      "properties": {},
      "example": {
        "2": [
          {
            "category": "group",
            "id": 7,
            "name": "User"
          }
        ]
      }
    },
    "AccountGroupRolesCreate": {
      "x-tag": "institutions",
      "type": "object",
      "properties": {},
      "example": {
        "2": [
          2,
          7
        ],
        "3": [
          7,
          9
        ]
      }
    },
    "Group": {
      "x-tag": "institutions",
      "type": "object",
      "required": [
        "id",
        "name",
        "resource_id",
        "parent_id",
        "association_criteria"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Group id",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "Materials",
          "description": "Group name"
        },
        "resource_id": {
          "type": "string",
          "example": "",
          "description": "Group resource id"
        },
        "parent_id": {
          "type": "integer",
          "format": "int64",
          "description": "Parent group if any",
          "example": 0
        },
        "association_criteria": {
          "type": "string",
          "example": "IT",
          "description": "HR code associated with group, if code exists"
        }
      }
    },
    "Role": {
      "x-tag": "institutions",
      "type": "object",
      "required": [
        "id",
        "name",
        "category",
        "description"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Role id",
          "example": 1
        },
        "name": {
          "type": "string",
          "example": "Curator",
          "description": "Role name"
        },
        "category": {
          "type": "string",
          "example": "group",
          "description": "Role category"
        },
        "description": {
          "type": "string",
          "description": "Role description"
        }
      }
    },
    "GroupEmbargoOptions": {
      "x-tag": "institutions",
      "type": "object",
      "required": [
        "id",
        "type",
        "ip_name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Embargo option id",
          "example": 364
        },
        "type": {
          "type": "string",
          "description": "Embargo permission type",
          "example": "ip_range",
          "enum": [
            "logged_in",
            "ip_range",
            "administrator"
          ]
        },
        "ip_name": {
          "description": "IP range name; value appears if type is ip_range",
          "type": "string",
          "example": "Figshare IP range"
        }
      }
    },
    "Institution": {
      "x-tag": "institutions",
      "type": "object",
      "required": [
        "id",
        "name",
        "domain"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Institution id",
          "example": 0
        },
        "name": {
          "type": "string",
          "description": "Institution name",
          "example": "Institution"
        },
        "domain": {
          "description": "Institution domain",
          "type": "string",
          "x-nullable": true,
          "example": null
        }
      }
    },
    "ShortCustomField": {
      "x-tag": "institutions",
      "type": "object",
      "required": [
        "id",
        "name",
        "field_type"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Custom field id",
          "example": 365
        },
        "name": {
          "type": "string",
          "description": "Custom field name",
          "example": "my custom field"
        },
        "field_type": {
          "description": "Custom field type",
          "type": "string",
          "example": "textarea",
          "enum": [
            "text",
            "textarea",
            "dropdown",
            "url",
            "email",
            "date",
            "dropdown_large_list"
          ]
        },
        "settings": {
          "description": "Settings for the custom field",
          "type": "object",
          "example": {
            "validations": {
              "min_length": 1,
              "max_length": 1000
            },
            "placeholder": "Enter your custom field here"
          }
        },
        "order": {
          "description": "Order of the field in the group",
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "is_mandatory": {
          "description": "Whether the field is mandatory or not",
          "type": "boolean",
          "example": false
        }
      }
    },
    "ErrorMessage": {
      "x-tag": "common",
      "type": "object",
      "properties": {
        "code": {
          "description": "A machine friendly error code, used by the dev team to identify the error.",
          "type": "integer",
          "format": "int64"
        },
        "message": {
          "description": "A human friendly message explaining the error.",
          "type": "string"
        }
      }
    },
    "ProjectCollaboratorInvite": {
      "x-tag": "projects",
      "type": "object",
      "required": [
        "role_name"
      ],
      "properties": {
        "role_name": {
          "type": "string",
          "description": "Role of the the collaborator inside the project",
          "enum": [
            "viewer",
            "collaborator"
          ],
          "example": "viewer"
        },
        "user_id": {
          "description": "User id of the collaborator",
          "type": "integer",
          "format": "int64",
          "example": 100008
        },
        "email": {
          "description": "Collaborator email",
          "type": "string",
          "example": "user@domain.com"
        },
        "comment": {
          "description": "Text sent when inviting the user to the project",
          "type": "string",
          "example": "hey"
        }
      }
    },
    "ProjectNote": {
      "x-tag": "projects",
      "type": "object",
      "required": [
        "id",
        "user_id",
        "abstract",
        "user_name",
        "created_date",
        "modified_date"
      ],
      "properties": {
        "id": {
          "description": "Project note id",
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "user_id": {
          "description": "User who wrote the note",
          "type": "integer",
          "format": "int64",
          "example": 100008
        },
        "abstract": {
          "description": "Note Abstract - short/truncated content",
          "type": "string",
          "example": "text"
        },
        "user_name": {
          "description": "Username of the one who wrote the note",
          "type": "string",
          "example": "user"
        },
        "created_date": {
          "description": "Date when note was created",
          "type": "string",
          "example": "2017-05-16T16:49:11Z"
        },
        "modified_date": {
          "description": "Date when note was last modified",
          "type": "string",
          "example": "2017-05-16T16:49:11Z"
        }
      }
    },
    "ProjectNotePrivate": {
      "x-tag": "projects",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProjectNote"
        }
      ],
      "required": [
        "text",
        "id",
        "user_id",
        "abstract",
        "user_name",
        "created_date",
        "modified_date"
      ],
      "properties": {
        "text": {
          "description": "Full text of note",
          "type": "string",
          "example": "text"
        }
      }
    },
    "ResponseMessage": {
      "x-tag": "common",
      "type": "object",
      "required": [
        "message"
      ],
      "properties": {
        "message": {
          "description": "Response message text",
          "type": "string",
          "example": "Project 1 has been published"
        }
      }
    },
    "ProjectNoteCreate": {
      "x-tag": "projects",
      "type": "object",
      "required": [
        "text"
      ],
      "properties": {
        "text": {
          "description": "Text of the note",
          "type": "string",
          "minLength": 3,
          "example": "note to remember"
        }
      }
    },
    "ProjectCreate": {
      "x-tag": "projects",
      "type": "object",
      "required": [
        "title"
      ],
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for this project - mandatory. 3 - 1000 characters.",
          "example": "project title",
          "maxLength": 1000,
          "minLength": 3
        },
        "description": {
          "type": "string",
          "description": "Project description",
          "example": "project description",
          "maxLength": 20000
        },
        "funding": {
          "type": "string",
          "description": "Grant number or organization(s) that funded this project. Up to 2000 characters permitted.",
          "example": ""
        },
        "funding_list": {
          "type": "array",
          "description": "Funding creation / update items",
          "items": {
            "$ref": "#/definitions/FundingCreate"
          }
        },
        "group_id": {
          "type": "integer",
          "format": "int64",
          "description": "Only if project type is group.",
          "example": 0
        },
        "custom_fields": {
          "type": "object",
          "description": "List of key, values pairs to be associated with the project",
          "example": {
            "defined_key": "value for it"
          }
        },
        "custom_fields_list": {
          "type": "array",
          "description": "List of custom fields values, supersedes custom_fields parameter",
          "items": {
            "$ref": "#/definitions/CustomArticleFieldAdd"
          }
        }
      }
    },
    "ProjectUpdate": {
      "x-tag": "projects",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title for this project - mandatory. 3 - 1000 characters.",
          "example": "project title",
          "maxLength": 1000,
          "minLength": 3
        },
        "description": {
          "type": "string",
          "description": "Project description",
          "example": "project description",
          "maxLength": 20000
        },
        "funding": {
          "type": "string",
          "description": "Grant number or organization(s) that funded this project. Up to 2000 characters permitted.",
          "example": ""
        },
        "funding_list": {
          "type": "array",
          "description": "Funding creation / update items",
          "items": {
            "$ref": "#/definitions/FundingCreate"
          }
        },
        "custom_fields": {
          "type": "object",
          "description": "List of key, values pairs to be associated with the project",
          "example": {
            "defined_key": "value for it"
          }
        },
        "custom_fields_list": {
          "type": "array",
          "description": "List of custom fields values, supersedes custom_fields parameter",
          "items": {
            "$ref": "#/definitions/CustomArticleFieldAdd"
          }
        }
      }
    },
    "Project": {
      "x-tag": "projects",
      "type": "object",
      "required": [
        "url",
        "published_date",
        "id",
        "title",
        "created_date",
        "modified_date"
      ],
      "properties": {
        "url": {
          "description": "Api endpoint",
          "type": "string",
          "example": "http://api.figshare.com/v2/account/projects/1"
        },
        "published_date": {
          "type": "string",
          "x-nullable": true,
          "description": "Date when project was published",
          "example": "2017-05-16T14:55:08Z"
        },
        "id": {
          "description": "Project id",
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "title": {
          "description": "Project title",
          "type": "string",
          "example": "project"
        },
        "created_date": {
          "description": "Date when project was created",
          "type": "string",
          "example": "2017-05-16T14:52:54Z"
        },
        "modified_date": {
          "description": "Date when project was last modified",
          "type": "string",
          "example": "2017-05-16T14:52:54Z"
        }
      }
    },
    "ProjectPrivate": {
      "x-tag": "projects",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Project"
        }
      ],
      "required": [
        "role",
        "storage",
        "url",
        "published_date",
        "id",
        "title",
        "created_date",
        "modified_date"
      ],
      "properties": {
        "role": {
          "type": "string",
          "enum": [
            "Owner",
            "Collaborator",
            "Viewer"
          ],
          "description": "Role inside this project",
          "example": "Owner"
        },
        "storage": {
          "type": "string",
          "enum": [
            "individual",
            "group"
          ],
          "description": "Project storage type",
          "example": "individual"
        }
      }
    },
    "ProjectComplete": {
      "x-tag": "projects",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Project"
        }
      ],
      "required": [
        "funding",
        "funding_list",
        "description",
        "figshare_url",
        "collaborators",
        "url",
        "published_date",
        "id",
        "title",
        "custom_fields",
        "modified_date",
        "created_date"
      ],
      "properties": {
        "funding": {
          "type": "string",
          "description": "Project funding",
          "example": ""
        },
        "funding_list": {
          "type": "array",
          "description": "Full Project funding information",
          "items": {
            "type": "object",
            "$ref": "#/definitions/FundingInformation"
          }
        },
        "description": {
          "type": "string",
          "description": "Project description",
          "example": "description"
        },
        "figshare_url": {
          "type": "string",
          "x-nullable": true,
          "description": "Project public url",
          "example": "https://figshare.com/projects/project/1"
        },
        "collaborators": {
          "type": "array",
          "description": "List of project collaborators",
          "items": {
            "$ref": "#/definitions/Collaborator"
          }
        },
        "custom_fields": {
          "type": "array",
          "description": "Project custom fields",
          "items": {
            "$ref": "#/definitions/CustomArticleField"
          }
        },
        "modified_date": {
          "description": "Date when project was last modified",
          "type": "string",
          "example": "2017-05-16T14:52:54Z"
        },
        "created_date": {
          "description": "Date when project was created",
          "type": "string",
          "example": "2017-05-16T14:52:54Z"
        }
      }
    },
    "ProjectCompletePrivate": {
      "x-tag": "projects",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProjectPrivate"
        }
      ],
      "required": [
        "funding",
        "funding_list",
        "description",
        "figshare_url",
        "collaborators",
        "quota",
        "used_quota",
        "created_date",
        "modified_date",
        "used_quota_private",
        "used_quota_public",
        "group_id",
        "account_id",
        "custom_fields",
        "role",
        "storage",
        "url",
        "published_date",
        "id",
        "title"
      ],
      "properties": {
        "funding": {
          "type": "string",
          "description": "Project funding",
          "example": "none"
        },
        "funding_list": {
          "type": "array",
          "description": "Full Project funding information",
          "items": {
            "type": "object",
            "$ref": "#/definitions/FundingInformation"
          }
        },
        "description": {
          "type": "string",
          "description": "Project description",
          "example": "description"
        },
        "figshare_url": {
          "type": "string",
          "x-nullable": true,
          "description": "Project public url",
          "example": "https://figshare.com/projects/project/1"
        },
        "collaborators": {
          "type": "array",
          "description": "List of project collaborators",
          "items": {
            "$ref": "#/definitions/Collaborator"
          }
        },
        "quota": {
          "description": "Project quota",
          "type": "integer",
          "format": "int64",
          "example": 0
        },
        "used_quota": {
          "description": "Project used quota",
          "type": "integer",
          "format": "int64",
          "example": 0
        },
        "created_date": {
          "description": "Date when project was created",
          "type": "string",
          "example": "2017-05-16T14:52:54Z"
        },
        "modified_date": {
          "description": "Date when project was last modified",
          "type": "string",
          "example": "2017-05-16T14:52:54Z"
        },
        "used_quota_private": {
          "description": "Project private quota used",
          "type": "integer",
          "format": "int64",
          "example": 0
        },
        "used_quota_public": {
          "description": "Project public quota used",
          "type": "integer",
          "format": "int64",
          "example": 0
        },
        "group_id": {
          "description": "Group of project if any",
          "type": "integer",
          "format": "int64",
          "example": 0
        },
        "account_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID of the account owning the project",
          "example": 1000001
        },
        "custom_fields": {
          "type": "array",
          "description": "Collection custom fields",
          "items": {
            "$ref": "#/definitions/ShortCustomField"
          }
        }
      }
    },
    "ProjectCollaborator": {
      "x-tag": "projects",
      "type": "object",
      "required": [
        "status",
        "role_name",
        "user_id",
        "name"
      ],
      "properties": {
        "status": {
          "description": "Status of collaborator invitation",
          "type": "string",
          "example": "invited"
        },
        "role_name": {
          "description": "Collaborator role",
          "type": "string",
          "example": "Owner"
        },
        "user_id": {
          "description": "Collaborator id",
          "type": "integer",
          "example": 1
        },
        "name": {
          "description": "Collaborator name",
          "type": "string",
          "example": "name"
        }
      }
    },
    "Collaborator": {
      "x-tag": "projects",
      "type": "object",
      "required": [
        "role_name",
        "user_id",
        "name"
      ],
      "properties": {
        "role_name": {
          "description": "Collaborator role",
          "type": "string",
          "example": "Owner"
        },
        "user_id": {
          "description": "Collaborator id",
          "type": "integer",
          "example": 1
        },
        "name": {
          "description": "Collaborator name",
          "type": "string",
          "example": "name"
        }
      }
    },
    "InstitutionAccountsSearch": {
      "x-tag": "institutions",
      "type": "object",
      "properties": {
        "search_for": {
          "type": "string",
          "description": "Search term",
          "example": "figshare"
        },
        "is_active": {
          "type": "integer",
          "format": "int64",
          "description": "Filter by active status",
          "minimum": 0,
          "maximum": 1
        },
        "page": {
          "description": "Page number. Used for pagination with page_size",
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 5000,
          "example": 1
        },
        "page_size": {
          "description": "The number of results included on a page. Used for pagination with page",
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 1000,
          "default": 10,
          "example": 10
        },
        "limit": {
          "description": "Number of results included on a page. Used for pagination with query",
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 1000,
          "example": 10
        },
        "offset": {
          "description": "Where to start the listing (the offset of the first result). Used for pagination with limit",
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 5000,
          "example": 0
        },
        "institution_user_id": {
          "description": "filter by institution_user_id",
          "type": "string",
          "example": "alan"
        },
        "email": {
          "description": "filter by email",
          "type": "string",
          "example": "alan@institution.com"
        }
      }
    },
    "CommonSearch": {
      "x-tag": "common",
      "type": "object",
      "properties": {
        "search_for": {
          "type": "string",
          "description": "Search term",
          "example": "figshare"
        },
        "page": {
          "description": "Page number. Used for pagination with page_size",
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 5000,
          "example": 1
        },
        "page_size": {
          "description": "The number of results included on a page. Used for pagination with page",
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 1000,
          "default": 10,
          "example": 10
        },
        "limit": {
          "description": "Number of results included on a page. Used for pagination with query",
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 1000,
          "example": 10
        },
        "offset": {
          "description": "Where to start the listing (the offset of the first result). Used for pagination with limit",
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 5000,
          "example": 0
        },
        "order_direction": {
          "type": "string",
          "description": "Direction of ordering",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc",
          "example": "desc"
        },
        "institution": {
          "description": "only return collections from this institution",
          "type": "integer",
          "format": "int32",
          "example": 2000013
        },
        "published_since": {
          "description": "Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ",
          "type": "string",
          "example": "2017-12-22"
        },
        "modified_since": {
          "description": "Filter by article modified date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ",
          "type": "string",
          "example": "2017-12-22"
        },
        "group": {
          "description": "only return collections from this group",
          "type": "integer",
          "format": "int32",
          "example": 2000013
        }
      }
    },
    "ProjectsSearch": {
      "x-tag": "projects",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearch"
        }
      ],
      "properties": {
        "order": {
          "description": "The field by which to order.",
          "type": "string",
          "enum": [
            "published_date",
            "modified_date",
            "views"
          ],
          "default": "published_date",
          "example": "published_date"
        }
      }
    },
    "ArticleSearch": {
      "x-tag": "articles",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearch"
        }
      ],
      "properties": {
        "resource_doi": {
          "description": "Only return articles with this resource_doi",
          "type": "string",
          "example": "10.6084/m9.figshare.1407024"
        },
        "item_type": {
          "description": "Only return articles with the respective type. Mapping for item_type is: 1 - Figure, 2 - Media, 3 - Dataset, 5 - Poster, 6 - Journal contribution, 7 - Presentation, 8 - Thesis, 9 - Software, 11 - Online resource, 12 - Preprint, 13 - Book, 14 - Conference contribution, 15 - Chapter, 16 - Peer review, 17 - Educational resource, 18 - Report, 19 - Standard, 20 - Composition, 21 - Funding, 22 - Physical object, 23 - Data management plan, 24 - Workflow, 25 - Monograph, 26 - Performance, 27 - Event, 28 - Service, 29 - Model",
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "doi": {
          "description": "Only return articles with this doi",
          "type": "string",
          "example": "10.6084/m9.figshare.1407024"
        },
        "handle": {
          "description": "Only return articles with this handle",
          "type": "string",
          "example": "111084/m9.figshare.14074"
        },
        "project_id": {
          "description": "Only return articles in this project",
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "order": {
          "description": "The field by which to order",
          "type": "string",
          "enum": [
            "created_date",
            "published_date",
            "modified_date",
            "views",
            "shares",
            "downloads",
            "cites"
          ],
          "default": "created_date",
          "example": "published_date"
        }
      }
    },
    "PrivateArticleSearch": {
      "x-tag": "articles",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ArticleSearch"
        }
      ],
      "properties": {
        "resource_id": {
          "description": "only return collections with this resource_id",
          "type": "string",
          "example": "1407024"
        }
      }
    },
    "CollectionSearch": {
      "x-tag": "collections",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CommonSearch"
        }
      ],
      "properties": {
        "resource_doi": {
          "description": "Only return collections with this resource_doi",
          "type": "string",
          "example": "10.6084/m9.figshare.1407024"
        },
        "doi": {
          "description": "Only return collections with this doi",
          "type": "string",
          "example": "10.6084/m9.figshare.1407024"
        },
        "handle": {
          "description": "Only return collections with this handle",
          "type": "string",
          "example": "10084/figshare.1407024"
        },
        "order": {
          "description": "The field by which to order.",
          "type": "string",
          "enum": [
            "created_date",
            "published_date",
            "modified_date",
            "views",
            "shares",
            "cites"
          ],
          "default": "created_date",
          "example": "published_date"
        }
      }
    },
    "PrivateAuthorsSearch": {
      "x-tag": "authors",
      "type": "object",
      "properties": {
        "search_for": {
          "type": "string",
          "description": "Search term",
          "example": "figshare"
        },
        "page": {
          "description": "Page number. Used for pagination with page_size",
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 5000,
          "example": 1
        },
        "page_size": {
          "description": "The number of results included on a page. Used for pagination with page",
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 1000,
          "default": 10,
          "example": 10
        },
        "limit": {
          "description": "Number of results included on a page. Used for pagination with query",
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 1000,
          "example": 10
        },
        "offset": {
          "description": "Where to start the listing (the offset of the first result). Used for pagination with limit",
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 5000,
          "example": 0
        },
        "institution_id": {
          "type": "integer",
          "description": "Return only authors associated to this institution",
          "format": "int64",
          "example": 1,
          "minimum": 0
        },
        "orcid": {
          "type": "string",
          "description": "Orcid of author"
        },
        "group_id": {
          "type": "integer",
          "format": "int64",
          "description": "Return only authors in this group or subgroups of the group",
          "minimum": 0
        },
        "is_active": {
          "type": "boolean",
          "description": "Return only active authors if True"
        },
        "is_public": {
          "type": "boolean",
          "description": "Return only authors that have published items if True"
        }
      }
    },
    "PrivateCollectionSearch": {
      "x-tag": "collections",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CollectionSearch"
        }
      ],
      "properties": {
        "resource_id": {
          "description": "only return collections with this resource_id",
          "type": "string",
          "example": "1407024"
        }
      }
    },
    "AccountCreate": {
      "x-tag": "institutions",
      "x-maxCombinedLength": {
        "description": "The combined length of first_name and last_name must not exceed 255 characters."
      },
      "type": "object",
      "required": [
        "email",
        "last_name"
      ],
      "properties": {
        "email": {
          "type": "string",
          "description": "Email of account",
          "maxLength": 150,
          "minLength": 3,
          "example": "johndoe@example.com"
        },
        "first_name": {
          "type": "string",
          "description": "First Name",
          "default": "",
          "example": "John",
          "maxLength": 255
        },
        "last_name": {
          "type": "string",
          "description": "Last Name",
          "default": "",
          "example": "Doe",
          "maxLength": 255
        },
        "group_id": {
          "type": "integer",
          "format": "int64",
          "description": "Not applicable to regular users. This field is reserved to institutions/publishers with access to assign to specific groups"
        },
        "institution_user_id": {
          "type": "string",
          "description": "Institution user id",
          "default": "",
          "example": "johndoe",
          "maxLength": 50
        },
        "symplectic_user_id": {
          "type": "string",
          "description": "Symplectic user id",
          "default": "",
          "example": "johndoe",
          "maxLength": 50
        },
        "quota": {
          "type": "integer",
          "format": "int64",
          "description": "Account quota",
          "example": 1000
        },
        "is_active": {
          "type": "boolean",
          "description": "Is account active"
        }
      }
    },
    "AccountCreateResponse": {
      "x-tag": "common",
      "type": "object",
      "required": [
        "account_id"
      ],
      "properties": {
        "account_id": {
          "description": "ID of created account",
          "type": "integer",
          "format": "int64",
          "example": 33334444
        }
      }
    },
    "AccountUpdate": {
      "x-tag": "institutions",
      "type": "object",
      "required": [
        "group_id",
        "is_active"
      ],
      "properties": {
        "group_id": {
          "type": "integer",
          "format": "int64",
          "description": "Not applicable to regular users. This field is reserved to institutions/publishers with access to assign to specific groups"
        },
        "is_active": {
          "type": "boolean",
          "description": "Is account active"
        }
      }
    },
    "Curation": {
      "x-tag": "institutions",
      "type": "object",
      "required": [
        "id",
        "group_id",
        "account_id",
        "assigned_to",
        "article_id",
        "version",
        "comments_count",
        "status",
        "created_date",
        "modified_date",
        "review_date",
        "request_number",
        "resolution_comment"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "The review id"
        },
        "group_id": {
          "type": "integer",
          "format": "int64",
          "description": "The group in which the article is present."
        },
        "account_id": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the account of the owner of the article of this review."
        },
        "assigned_to": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the account to which this review is assigned."
        },
        "article_id": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the article of this review."
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "description": "The Version number of the article in review."
        },
        "comments_count": {
          "type": "integer",
          "format": "int64",
          "description": "The number of comments in the review."
        },
        "status": {
          "type": "string",
          "description": "The status of the review.",
          "enum": [
            "pending",
            "approved",
            "rejected",
            "closed"
          ]
        },
        "created_date": {
          "type": "string",
          "description": "The creation date of the review."
        },
        "modified_date": {
          "type": "string",
          "description": "The date the review has been modified."
        },
        "review_date": {
          "type": "string",
          "x-nullable": true,
          "description": "The last time a comment has been added to the review."
        },
        "request_number": {
          "type": "integer",
          "format": "int64",
          "description": "The request number of the review."
        },
        "resolution_comment": {
          "type": "string",
          "description": "The resolution comment of the review."
        }
      }
    },
    "CurationDetail": {
      "x-tag": "institutions",
      "type": "object",
      "required": [
        "item",
        "id",
        "group_id",
        "account_id",
        "assigned_to",
        "article_id",
        "version",
        "comments_count",
        "status",
        "created_date",
        "modified_date",
        "review_date",
        "request_number",
        "resolution_comment"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Curation"
        }
      ],
      "properties": {
        "item": {
          "type": "object",
          "description": "Article details",
          "$ref": "#/definitions/ArticleComplete"
        }
      }
    },
    "CurationComment": {
      "x-tag": "institutions",
      "type": "object",
      "required": [
        "id",
        "account_id",
        "type",
        "text",
        "created_date",
        "modified_date"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the comment."
        },
        "account_id": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the account which generated this comment."
        },
        "type": {
          "type": "string",
          "description": "The ID of the account which generated this comment.",
          "enum": [
            "comment",
            "approved",
            "rejected",
            "closed"
          ]
        },
        "text": {
          "type": "string",
          "description": "The value/content of the comment."
        },
        "created_date": {
          "type": "string",
          "description": "The creation date of the comment."
        },
        "modified_date": {
          "type": "string",
          "description": "The date the comment has been modified."
        }
      }
    },
    "CurationCommentCreate": {
      "x-tag": "institutions",
      "type": "object",
      "required": [
        "text"
      ],
      "properties": {
        "text": {
          "type": "string",
          "description": "The contents/value of the comment",
          "minLength": 1,
          "maxLength": 2000
        }
      }
    },
    "Resource": {
      "x-tag": "resource",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of resource item",
          "default": "",
          "maxLength": 255,
          "example": "aaaa23512"
        },
        "title": {
          "type": "string",
          "description": "Title of resource item",
          "default": "",
          "maxLength": 1000,
          "example": "Test title"
        },
        "doi": {
          "type": "string",
          "description": "DOI of resource item",
          "default": ""
        },
        "link": {
          "type": "string",
          "description": "Link of resource item",
          "default": "",
          "maxLength": 255,
          "example": "https://docs.figshare.com"
        },
        "status": {
          "type": "string",
          "description": "Status of resource item",
          "default": "",
          "maxLength": 100,
          "example": "frozen"
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "description": "Version of resource item",
          "default": 0,
          "example": 1
        }
      }
    },
    "ArticleUnpublishData": {
      "x-tag": "articles",
      "type": "object",
      "required": [
        "reason"
      ],
      "properties": {
        "reason": {
          "type": "string",
          "description": "Reason of article unpublishing",
          "maxLength": 500,
          "minLength": 5,
          "example": "Unpublish article reason"
        }
      }
    },
    "ArticleUpdate": {
      "x-tag": "articles",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of article",
          "maxLength": 1000,
          "minLength": 3,
          "example": "Test article title"
        },
        "description": {
          "type": "string",
          "description": "The article description. In a publisher case, usually this is the remote article description",
          "default": "",
          "example": "Test description of article",
          "maxLength": 20000
        },
        "is_metadata_record": {
          "description": "True if article has no files",
          "type": "boolean",
          "example": true
        },
        "metadata_reason": {
          "description": "Article metadata reason",
          "type": "string",
          "example": "hosted somewhere else"
        },
        "tags": {
          "type": "array",
          "description": "List of tags to be associated with the article. Keywords can be used instead",
          "items": {
            "type": "string"
          },
          "default": [],
          "example": [
            "tag1",
            "tag2"
          ]
        },
        "keywords": {
          "type": "array",
          "description": "List of tags to be associated with the article. Tags can be used instead",
          "items": {
            "type": "string"
          },
          "default": [],
          "example": [
            "tag1",
            "tag2"
          ]
        },
        "references": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "link"
          },
          "description": "List of links to be associated with the article (e.g [\"http://link1\", \"http://link2\", \"http://link3\"])",
          "default": [],
          "example": [
            "http://figshare.com",
            "http://api.figshare.com"
          ]
        },
        "related_materials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RelatedMaterial"
          },
          "default": [],
          "description": "List of related materials; supersedes references and resource DOI/title.",
          "example": [
            {
              "id": 10432,
              "identifier": "10.6084/m9.figshare.1407024",
              "identifier_type": "DOI",
              "relation": "IsSupplementTo",
              "title": "Figshare for institutions brochure",
              "is_linkout": false
            }
          ]
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64"
          },
          "description": "List of category ids to be associated with the article(e.g [1, 23, 33, 66])",
          "default": [],
          "example": [
            1,
            10,
            11
          ]
        },
        "categories_by_source_id": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of category source ids to be associated with the article, supersedes the categories property",
          "default": [],
          "example": [
            "300204",
            "400207"
          ]
        },
        "authors": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "List of authors to be associated with the article. The list can contain the following fields: id, name, first_name, last_name, email, orcid_id. If an id is supplied, it will take priority and everything else will be ignored. For adding more authors use the specific authors endpoint.",
          "default": [],
          "example": [
            {
              "name": "John Doe"
            },
            {
              "id": 1000008
            }
          ]
        },
        "custom_fields": {
          "type": "object",
          "description": "List of key, values pairs to be associated with the article",
          "example": {
            "defined_key": "value for it"
          }
        },
        "custom_fields_list": {
          "type": "array",
          "description": "List of custom fields values, supersedes custom_fields parameter",
          "items": {
            "$ref": "#/definitions/CustomArticleFieldAdd"
          }
        },
        "defined_type": {
          "type": "string",
          "description": "<b>One of:</b> <code>figure</code> <code>online resource</code> <code>preprint</code> <code>book</code> <code>conference contribution</code> <code>media</code> <code>dataset</code> <code>poster</code> <code>journal contribution</code> <code>presentation</code> <code>thesis</code> <code>software</code>",
          "example": "media"
        },
        "funding": {
          "type": "string",
          "description": "Grant number or funding authority",
          "default": ""
        },
        "funding_list": {
          "type": "array",
          "description": "Funding creation / update items",
          "items": {
            "$ref": "#/definitions/FundingCreate"
          }
        },
        "license": {
          "type": "integer",
          "format": "int64",
          "description": "License id for this article.",
          "default": 0,
          "example": 1
        },
        "doi": {
          "type": "string",
          "description": "Not applicable for regular users. In an institutional case, make sure your group supports setting DOIs. This setting is applied by figshare via opening a ticket through our support/helpdesk system.",
          "default": ""
        },
        "handle": {
          "type": "string",
          "description": "Not applicable for regular users. In an institutional case, make sure your group supports setting Handles. This setting is applied by figshare via opening a ticket through our support/helpdesk system.",
          "default": ""
        },
        "resource_doi": {
          "type": "string",
          "description": "Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article DOI.",
          "default": ""
        },
        "resource_title": {
          "type": "string",
          "description": "Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article title.",
          "default": ""
        },
        "timeline": {
          "type": "object",
          "description": "Various timeline dates",
          "$ref": "#/definitions/TimelineUpdate"
        },
        "download_disabled": {
          "type": "boolean",
          "description": "If true, downloading of files for this article is disabled",
          "example": false
        },
        "group_id": {
          "type": "integer",
          "format": "int64",
          "description": "Not applicable to regular users. This field is reserved to institutions/publishers with access to assign to specific groups"
        }
      }
    },
    "ArticleVersionUpdate": {
      "x-tag": "article_version",
      "type": "object",
      "properties": {
        "supplementary_fields": {
          "type": "array",
          "description": "List of supplementary fields to be associated with the article version",
          "items": {
            "type": "object"
          },
          "default": [],
          "example": [
            {
              "name": "abc",
              "value": "def"
            },
            {
              "name": "fname",
              "value": "fvalue"
            }
          ]
        },
        "internal_metadata": {
          "type": "object",
          "description": "List of supplementary fields to be associated with the article version",
          "default": {},
          "example": {
            "curation_review_date": "2021-11-16T13:03:38",
            "export_pdf_download_url": null
          }
        }
      }
    },
    "ArticleCreate": {
      "x-tag": "articles",
      "type": "object",
      "required": [
        "title"
      ],
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of article",
          "maxLength": 1000,
          "minLength": 3,
          "example": "Test article title"
        },
        "description": {
          "type": "string",
          "description": "The article description. In a publisher case, usually this is the remote article description",
          "default": "",
          "example": "Test description of article",
          "maxLength": 20000
        },
        "is_metadata_record": {
          "description": "True if article has no files",
          "type": "boolean",
          "example": true
        },
        "metadata_reason": {
          "description": "Article metadata reason",
          "type": "string",
          "example": "hosted somewhere else"
        },
        "tags": {
          "type": "array",
          "description": "List of tags to be associated with the article. Keywords can be used instead",
          "items": {
            "type": "string"
          },
          "default": [],
          "example": [
            "tag1",
            "tag2"
          ]
        },
        "keywords": {
          "type": "array",
          "description": "List of tags to be associated with the article. Tags can be used instead",
          "items": {
            "type": "string"
          },
          "default": [],
          "example": [
            "tag1",
            "tag2"
          ]
        },
        "references": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "link"
          },
          "description": "List of links to be associated with the article (e.g [\"http://link1\", \"http://link2\", \"http://link3\"])",
          "default": [],
          "example": [
            "http://figshare.com",
            "http://api.figshare.com"
          ]
        },
        "related_materials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RelatedMaterial"
          },
          "default": [],
          "description": "List of related materials; supersedes references and resource DOI/title.",
          "example": [
            {
              "id": 10432,
              "identifier": "10.6084/m9.figshare.1407024",
              "identifier_type": "DOI",
              "relation": "IsSupplementTo",
              "title": "Figshare for institutions brochure",
              "is_linkout": false
            }
          ]
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64"
          },
          "description": "List of category ids to be associated with the article(e.g [1, 23, 33, 66])",
          "default": [],
          "example": [
            1,
            10,
            11
          ]
        },
        "categories_by_source_id": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of category source ids to be associated with the article, supersedes the categories property",
          "default": [],
          "example": [
            "300204",
            "400207"
          ]
        },
        "authors": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "List of authors to be associated with the article. The list can contain the following fields: id, name, first_name, last_name, email, orcid_id. If an id is supplied, it will take priority and everything else will be ignored. For adding more authors use the specific authors endpoint.",
          "default": [],
          "example": [
            {
              "name": "John Doe"
            },
            {
              "id": 1000008
            }
          ]
        },
        "custom_fields": {
          "type": "object",
          "description": "List of key, values pairs to be associated with the article",
          "example": {
            "defined_key": "value for it"
          }
        },
        "custom_fields_list": {
          "type": "array",
          "description": "List of custom fields values, supersedes custom_fields parameter",
          "items": {
            "$ref": "#/definitions/CustomArticleFieldAdd"
          }
        },
        "defined_type": {
          "type": "string",
          "description": "<b>One of:</b> <code>figure</code> <code>online resource</code> <code>preprint</code> <code>book</code> <code>conference contribution</code> <code>media</code> <code>dataset</code> <code>poster</code> <code>journal contribution</code> <code>presentation</code> <code>thesis</code> <code>software</code>",
          "example": "media"
        },
        "funding": {
          "type": "string",
          "description": "Grant number or funding authority",
          "default": ""
        },
        "funding_list": {
          "type": "array",
          "description": "Funding creation / update items",
          "items": {
            "$ref": "#/definitions/FundingCreate"
          }
        },
        "license": {
          "type": "integer",
          "format": "int64",
          "description": "License id for this article.",
          "default": 0,
          "example": 1
        },
        "doi": {
          "type": "string",
          "description": "Not applicable for regular users. In an institutional case, make sure your group supports setting DOIs. This setting is applied by figshare via opening a ticket through our support/helpdesk system.",
          "default": ""
        },
        "handle": {
          "type": "string",
          "description": "Not applicable for regular users. In an institutional case, make sure your group supports setting Handles. This setting is applied by figshare via opening a ticket through our support/helpdesk system.",
          "default": ""
        },
        "resource_doi": {
          "type": "string",
          "description": "Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article DOI.",
          "default": ""
        },
        "resource_title": {
          "type": "string",
          "description": "Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article title.",
          "default": ""
        },
        "timeline": {
          "type": "object",
          "description": "Various timeline dates",
          "$ref": "#/definitions/TimelineUpdate"
        },
        "group_id": {
          "type": "integer",
          "format": "int64",
          "description": "Not applicable to regular users. This field is reserved to institutions/publishers with access to assign to specific groups"
        }
      }
    },
    "PrivateProjectArticle": {
      "x-tag": "articles",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProjectArticle"
        }
      ],
      "required": [
        "files",
        "embargo_options",
        "custom_fields",
        "account_id",
        "download_disabled",
        "authors",
        "figshare_url",
        "group_resource_id",
        "curation_status"
      ],
      "properties": {
        "files": {
          "type": "array",
          "description": "List of up to 10 article files.",
          "items": {
            "$ref": "#/definitions/PublicFile"
          }
        },
        "embargo_options": {
          "type": "array",
          "description": "List of embargo options",
          "items": {
            "$ref": "#/definitions/GroupEmbargoOptions"
          }
        },
        "custom_fields": {
          "type": "array",
          "description": "List of custom fields values",
          "items": {
            "$ref": "#/definitions/CustomArticleField"
          }
        },
        "account_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID of the account owning the article",
          "example": 1000001
        },
        "download_disabled": {
          "type": "boolean",
          "description": "If true, downloading of files for this article is disabled",
          "example": false
        },
        "authors": {
          "type": "array",
          "description": "List of authors",
          "items": {
            "$ref": "#/definitions/Author"
          }
        },
        "figshare_url": {
          "type": "string",
          "format": "url",
          "description": "Article public url",
          "example": "http://figshare.com/articles/media/article_name/2000005"
        },
        "group_resource_id": {
          "type": "string",
          "x-nullable": true,
          "description": "Collection group resource id",
          "example": 1
        },
        "curation_status": {
          "type": "string",
          "description": "Curation status of the article",
          "example": "approved"
        }
      }
    },
    "ArticleProjectCreate": {
      "x-tag": "articles",
      "type": "object",
      "required": [
        "title"
      ],
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of article",
          "maxLength": 1000,
          "minLength": 3,
          "example": "Test article title"
        },
        "description": {
          "type": "string",
          "description": "The article description. In a publisher case, usually this is the remote article description",
          "default": "",
          "example": "Test description of article",
          "maxLength": 20000
        },
        "tags": {
          "type": "array",
          "description": "List of tags to be associated with the article. Keywords can be used instead",
          "items": {
            "type": "string"
          },
          "default": [],
          "example": [
            "tag1",
            "tag2"
          ]
        },
        "keywords": {
          "type": "array",
          "description": "List of tags to be associated with the article. Tags can be used instead",
          "items": {
            "type": "string"
          },
          "default": [],
          "example": [
            "tag1",
            "tag2"
          ]
        },
        "references": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "link"
          },
          "description": "List of links to be associated with the article (e.g [\"http://link1\", \"http://link2\", \"http://link3\"])",
          "default": [],
          "example": [
            "http://figshare.com",
            "http://api.figshare.com"
          ]
        },
        "related_materials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RelatedMaterial"
          },
          "default": [],
          "description": "List of related materials; supersedes references and resource DOI/title.",
          "example": [
            {
              "id": 10432,
              "identifier": "10.6084/m9.figshare.1407024",
              "identifier_type": "DOI",
              "relation": "IsSupplementTo",
              "title": "Figshare for institutions brochure",
              "is_linkout": false
            }
          ]
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64"
          },
          "description": "List of category ids to be associated with the article(e.g [1, 23, 33, 66])",
          "default": [],
          "example": [
            1,
            10,
            11
          ]
        },
        "categories_by_source_id": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of category source ids to be associated with the article, supersedes the categories property",
          "default": [],
          "example": [
            "300204",
            "400207"
          ]
        },
        "authors": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "description": "List of authors to be associated with the article. The list can contain the following fields: id, name, first_name, last_name, email, orcid_id. If an id is supplied, it will take priority and everything else will be ignored. For adding more authors use the specific authors endpoint.",
          "default": [],
          "example": [
            {
              "name": "John Doe"
            },
            {
              "id": 1000008
            }
          ]
        },
        "custom_fields": {
          "type": "object",
          "description": "List of key, values pairs to be associated with the article",
          "example": {
            "defined_key": "value for it"
          }
        },
        "custom_fields_list": {
          "type": "array",
          "description": "List of custom fields values, supersedes custom_fields parameter",
          "items": {
            "$ref": "#/definitions/CustomArticleFieldAdd"
          }
        },
        "defined_type": {
          "type": "string",
          "description": "<b>One of:</b> <code>figure</code> <code>online resource</code> <code>preprint</code> <code>book</code> <code>conference contribution</code> <code>media</code> <code>dataset</code> <code>poster</code> <code>journal contribution</code> <code>presentation</code> <code>thesis</code> <code>software</code>",
          "example": "media"
        },
        "funding": {
          "type": "string",
          "description": "Grant number or funding authority",
          "default": ""
        },
        "funding_list": {
          "type": "array",
          "description": "Funding creation / update items",
          "items": {
            "$ref": "#/definitions/FundingCreate"
          }
        },
        "license": {
          "type": "integer",
          "format": "int64",
          "description": "License id for this article.",
          "default": 0,
          "example": 1
        },
        "doi": {
          "type": "string",
          "description": "Not applicable for regular users. In an institutional case, make sure your group supports setting DOIs. This setting is applied by figshare via opening a ticket through our support/helpdesk system.",
          "default": ""
        },
        "handle": {
          "type": "string",
          "description": "Not applicable for regular users. In an institutional case, make sure your group supports setting Handles. This setting is applied by figshare via opening a ticket through our support/helpdesk system.",
          "default": ""
        },
        "resource_doi": {
          "type": "string",
          "description": "Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article DOI.",
          "default": ""
        },
        "resource_title": {
          "type": "string",
          "description": "Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article title.",
          "default": ""
        },
        "timeline": {
          "type": "object",
          "description": "Various timeline dates",
          "$ref": "#/definitions/TimelineUpdate"
        }
      }
    },
    "Article": {
      "x-tag": "articles",
      "type": "object",
      "required": [
        "id",
        "title",
        "resource_doi",
        "resource_title",
        "doi",
        "handle",
        "group_id",
        "url",
        "url_public_html",
        "url_public_api",
        "url_private_html",
        "url_private_api",
        "published_date",
        "timeline",
        "thumb",
        "defined_type",
        "defined_type_name",
        "created_date",
        "modified_date"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Unique identifier for article",
          "example": 1434614
        },
        "title": {
          "type": "string",
          "description": "Title of article",
          "example": "Test article title"
        },
        "doi": {
          "type": "string",
          "description": "DOI",
          "example": "10.6084/m9.figshare.1434614"
        },
        "handle": {
          "type": "string",
          "description": "Handle",
          "example": "111184/figshare.1234"
        },
        "group_id": {
          "type": "number",
          "x-nullable": true,
          "description": "Group ID",
          "example": 1234
        },
        "url": {
          "type": "string",
          "description": "Api endpoint for article",
          "format": "url",
          "example": "http://api.figshare.com/articles/1434614"
        },
        "url_public_html": {
          "type": "string",
          "description": "Public site endpoint for article",
          "format": "url",
          "example": "https://figshare.com/articles/media/Test_article_title/1434614"
        },
        "url_public_api": {
          "type": "string",
          "description": "Public Api endpoint for article",
          "format": "url",
          "example": "https://api.figshare.com/articles/1434614"
        },
        "url_private_html": {
          "type": "string",
          "description": "Private site endpoint for article",
          "format": "url",
          "example": "https://figshare.com/account/articles/1434614"
        },
        "url_private_api": {
          "type": "string",
          "description": "Private Api endpoint for article",
          "format": "url",
          "example": "https://api.figshare.com/account/articles/1434614"
        },
        "published_date": {
          "type": "string",
          "x-nullable": true,
          "description": "Posted date",
          "example": "2015-12-31T23:59:59.000Z"
        },
        "timeline": {
          "type": "object",
          "description": "Various timeline dates",
          "$ref": "#/definitions/Timeline"
        },
        "thumb": {
          "type": "string",
          "description": "Thumbnail image",
          "format": "url",
          "example": "https://ndownloader.figshare.com/files/123456789/preview/12345678/thumb.png"
        },
        "defined_type": {
          "type": "integer",
          "format": "int64",
          "description": "Type of article identifier",
          "example": 3
        },
        "defined_type_name": {
          "type": "string",
          "description": "Name of the article type identifier",
          "example": "media"
        },
        "resource_doi": {
          "type": "string",
          "description": "Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article DOI.",
          "default": ""
        },
        "resource_title": {
          "type": "string",
          "description": "Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article title.",
          "default": ""
        },
        "created_date": {
          "type": "string",
          "description": "Date when article was created",
          "example": "2017-05-18T11:49:03Z"
        },
        "modified_date": {
          "description": "Date when article was last modified",
          "type": "string",
          "x-nullable": true,
          "example": "2017-05-18T11:49:03Z"
        }
      }
    },
    "ArticleWithProject": {
      "x-tag": "articles_with_project",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Article"
        }
      ],
      "required": [
        "project_id",
        "id",
        "title",
        "doi",
        "handle",
        "group_id",
        "url",
        "url_public_html",
        "url_public_api",
        "url_private_html",
        "url_private_api",
        "published_date",
        "timeline",
        "thumb",
        "defined_type",
        "defined_type_name",
        "created_date",
        "modified_date"
      ],
      "properties": {
        "project_id": {
          "type": "integer",
          "format": "int64",
          "description": "Project id for this article.",
          "default": 0,
          "example": 1
        }
      }
    },
    "TimelineUpdate": {
      "x-tag": "timeline_update",
      "type": "object",
      "properties": {
        "firstOnline": {
          "type": "string",
          "description": "Online posted date",
          "example": "2015-12-31"
        },
        "publisherPublication": {
          "type": "string",
          "description": "Publish date",
          "example": "2015-12-31"
        },
        "publisherAcceptance": {
          "type": "string",
          "description": "Date when the item was accepted for publication",
          "example": "2015-12-31"
        }
      }
    },
    "Timeline": {
      "x-tag": "timeline",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TimelineUpdate"
        }
      ],
      "required": [
        "posted",
        "firstOnline",
        "publisherPublication",
        "publisherAcceptance"
      ],
      "properties": {
        "posted": {
          "type": "string",
          "x-nullable": true,
          "description": "Posted date",
          "example": "2015-12-31"
        },
        "submission": {
          "type": "string",
          "x-nullable": true,
          "description": "Submission date in curation (if curated)",
          "example": "2015-12-31"
        },
        "revision": {
          "type": "string",
          "x-nullable": true,
          "description": "Revision date from curation (if curated)",
          "example": "2015-12-31"
        }
      }
    },
    "ProjectArticle": {
      "x-tag": "articles",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Article"
        }
      ],
      "required": [
        "citation",
        "confidential_reason",
        "embargo_type",
        "is_confidential",
        "size",
        "funding",
        "funding_list",
        "tags",
        "keywords",
        "version",
        "is_metadata_record",
        "metadata_reason",
        "status",
        "description",
        "is_embargoed",
        "embargo_date",
        "is_public",
        "modified_date",
        "created_date",
        "has_linked_file",
        "categories",
        "license",
        "embargo_title",
        "embargo_reason",
        "references",
        "id",
        "title",
        "doi",
        "handle",
        "group_id",
        "url",
        "url_public_html",
        "url_public_api",
        "url_private_html",
        "url_private_api",
        "published_date",
        "timeline",
        "thumb",
        "defined_type",
        "defined_type_name"
      ],
      "properties": {
        "citation": {
          "type": "string",
          "description": "Article citation",
          "example": "lilliput, figshare admin (2017): first project item. figshare.\n \n Retrieved: 14 01, May 22, 2017 (GMT)"
        },
        "confidential_reason": {
          "description": "Confidentiality reason",
          "type": "string",
          "example": "none"
        },
        "embargo_type": {
          "description": "Article embargo",
          "type": "string",
          "x-nullable": true,
          "example": "article"
        },
        "is_confidential": {
          "description": "Article Confidentiality",
          "type": "boolean",
          "example": true
        },
        "size": {
          "description": "Article size",
          "type": "integer",
          "format": "int64",
          "example": 69939
        },
        "funding": {
          "type": "string",
          "description": "Article funding",
          "example": "none"
        },
        "funding_list": {
          "type": "array",
          "description": "Full Article funding information",
          "items": {
            "type": "object",
            "$ref": "#/definitions/FundingInformation"
          }
        },
        "tags": {
          "description": "List of article tags. Keywords can be used instead",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "t1",
            "t2",
            "t3"
          ]
        },
        "keywords": {
          "description": "List of article keywords. Tags can be used instead",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "t1",
            "t2",
            "t3"
          ]
        },
        "version": {
          "description": "Article version",
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "is_metadata_record": {
          "description": "True if article has no files",
          "type": "boolean",
          "example": false
        },
        "metadata_reason": {
          "description": "Article metadata reason",
          "type": "string",
          "example": "hosted somewhere else"
        },
        "status": {
          "type": "string",
          "description": "Article status",
          "example": "public"
        },
        "description": {
          "type": "string",
          "description": "Article description",
          "example": "article description"
        },
        "is_embargoed": {
          "type": "boolean",
          "description": "True if article is embargoed",
          "example": true
        },
        "embargo_date": {
          "description": "Date when embargo lifts",
          "type": "string",
          "x-nullable": true,
          "example": "2017-05-18T11:49:03Z"
        },
        "is_public": {
          "description": "True if article is published",
          "type": "boolean",
          "example": true
        },
        "modified_date": {
          "description": "Date when article was last modified",
          "type": "string",
          "x-nullable": true,
          "example": "2017-05-18T11:49:03Z"
        },
        "created_date": {
          "type": "string",
          "description": "Date when article was created",
          "example": "2017-05-18T11:49:03Z"
        },
        "has_linked_file": {
          "type": "boolean",
          "description": "True if any files are linked to the article",
          "example": true
        },
        "categories": {
          "type": "array",
          "description": "List of categories selected for the article",
          "items": {
            "$ref": "#/definitions/Category"
          }
        },
        "license": {
          "description": "Article selected license",
          "$ref": "#/definitions/License"
        },
        "embargo_title": {
          "type": "string",
          "description": "Title for embargo",
          "example": "File(s) under embargo"
        },
        "embargo_reason": {
          "type": "string",
          "description": "Reason for embargo",
          "example": "not complete"
        },
        "references": {
          "type": "array",
          "description": "List of references",
          "items": {
            "type": "string",
            "format": "url"
          },
          "example": [
            "http://figshare.com",
            "http://figshare.com/api"
          ]
        },
        "related_materials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RelatedMaterial"
          },
          "default": [],
          "description": "List of related materials; supersedes references and resource DOI/title.",
          "example": [
            {
              "id": 10432,
              "identifier": "10.6084/m9.figshare.1407024",
              "identifier_type": "DOI",
              "relation": "IsSupplementTo",
              "title": "Figshare for institutions brochure",
              "is_linkout": false
            }
          ]
        }
      }
    },
    "ArticleComplete": {
      "x-tag": "articles",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProjectArticle"
        }
      ],
      "required": [
        "figshare_url",
        "resource_title",
        "resource_doi",
        "files",
        "folder_structure",
        "authors",
        "custom_fields",
        "embargo_options",
        "citation",
        "confidential_reason",
        "embargo_type",
        "is_confidential",
        "size",
        "funding",
        "funding_list",
        "tags",
        "keywords",
        "version",
        "is_metadata_record",
        "metadata_reason",
        "status",
        "description",
        "is_embargoed",
        "embargo_date",
        "is_public",
        "modified_date",
        "created_date",
        "has_linked_file",
        "categories",
        "license",
        "embargo_title",
        "embargo_reason",
        "references",
        "id",
        "title",
        "doi",
        "handle",
        "group_id",
        "url",
        "url_public_html",
        "url_public_api",
        "url_private_html",
        "url_private_api",
        "published_date",
        "timeline",
        "thumb",
        "defined_type",
        "defined_type_name",
        "download_disabled"
      ],
      "properties": {
        "figshare_url": {
          "type": "string",
          "format": "url",
          "description": "Article public url",
          "example": "http://figshare.com/articles/media/article_name/2000005"
        },
        "download_disabled": {
          "type": "boolean",
          "description": "If true, downloading of files for this article is disabled",
          "example": false
        },
        "files": {
          "type": "array",
          "description": "List of article files.",
          "items": {
            "$ref": "#/definitions/PublicFile"
          }
        },
        "folder_structure": {
          "type": "object",
          "description": "Mapping of file ids to folder paths, if folders are used",
          "example": {
            "3000002": "Test Folder"
          }
        },
        "authors": {
          "type": "array",
          "description": "List of article authors",
          "items": {
            "$ref": "#/definitions/Author"
          }
        },
        "custom_fields": {
          "type": "array",
          "description": "List of custom fields values",
          "items": {
            "$ref": "#/definitions/CustomArticleField"
          }
        },
        "embargo_options": {
          "type": "array",
          "description": "List of embargo options",
          "items": {
            "$ref": "#/definitions/GroupEmbargoOptions"
          }
        }
      }
    },
    "ArticleCompletePrivate": {
      "x-tag": "articles",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ArticleComplete"
        }
      ],
      "required": [
        "group_resource_id",
        "account_id",
        "figshare_url",
        "resource_title",
        "resource_doi",
        "files",
        "folder_structure",
        "authors",
        "custom_fields",
        "embargo_options",
        "citation",
        "confidential_reason",
        "embargo_type",
        "is_confidential",
        "size",
        "funding",
        "funding_list",
        "array[integer](optional)",
        "tags",
        "keywords",
        "version",
        "is_metadata_record",
        "metadata_reason",
        "status",
        "description",
        "is_embargoed",
        "embargo_date",
        "is_public",
        "modified_date",
        "created_date",
        "has_linked_file",
        "categories",
        "license",
        "embargo_title",
        "embargo_reason",
        "references",
        "id",
        "title",
        "doi",
        "handle",
        "group_id",
        "url",
        "url_public_html",
        "url_public_api",
        "url_private_html",
        "url_private_api",
        "published_date",
        "timeline",
        "thumb",
        "defined_type",
        "defined_type_name",
        "download_disabled",
        "curation_status"
      ],
      "properties": {
        "group_resource_id": {
          "type": "string",
          "x-nullable": true,
          "description": "Group resource id",
          "example": 1
        },
        "account_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID of the account owning the article",
          "example": 1000001
        },
        "curation_status": {
          "type": "string",
          "description": "Curation status of the article",
          "example": "approved"
        }
      }
    },
    "CollectionCompletePrivate": {
      "x-tag": "collections",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Collection"
        }
      ],
      "required": [
        "account_id",
        "funding",
        "resource_id",
        "resource_doi",
        "resource_title",
        "resource_link",
        "resource_version",
        "version",
        "description",
        "categories",
        "references",
        "tags",
        "keywords",
        "authors",
        "institution_id",
        "group_id",
        "articles_count",
        "public",
        "citation",
        "group_resource_id",
        "custom_fields",
        "modified_date",
        "created_date",
        "timeline",
        "id",
        "title",
        "doi",
        "handle",
        "url",
        "published_date"
      ],
      "properties": {
        "account_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID of the account owning the collection",
          "example": 1000001
        },
        "funding": {
          "type": "array",
          "description": "Full Collection funding information",
          "items": {
            "type": "object",
            "$ref": "#/definitions/FundingInformation"
          }
        },
        "resource_id": {
          "type": "string",
          "description": "Collection resource id",
          "example": ""
        },
        "resource_doi": {
          "type": "string",
          "description": "Collection resource doi",
          "example": "10.6084/m9.figshare.123"
        },
        "resource_title": {
          "type": "string",
          "description": "Collection resource title",
          "example": "test"
        },
        "resource_link": {
          "type": "string",
          "description": "Collection resource link",
          "example": "http://figshare.com"
        },
        "resource_version": {
          "type": "integer",
          "description": "Collection resource version",
          "format": "int64",
          "example": 0
        },
        "version": {
          "type": "integer",
          "description": "Collection version",
          "format": "int64",
          "example": 1
        },
        "description": {
          "type": "string",
          "description": "Collection description",
          "example": "description"
        },
        "categories": {
          "type": "array",
          "description": "List of collection categories",
          "items": {
            "$ref": "#/definitions/Category"
          }
        },
        "references": {
          "type": "array",
          "description": "List of collection references",
          "items": {
            "type": "string",
            "format": "url"
          }
        },
        "related_materials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RelatedMaterial"
          },
          "default": [],
          "description": "List of related materials; supersedes references and resource DOI/title.",
          "example": [
            {
              "id": 10432,
              "identifier": "10.6084/m9.figshare.1407024",
              "identifier_type": "DOI",
              "relation": "IsSupplementTo",
              "title": "Figshare for institutions brochure",
              "is_linkout": false
            }
          ]
        },
        "tags": {
          "type": "array",
          "description": "List of collection tags. Keywords can be used instead",
          "items": {
            "type": "string"
          },
          "example": [
            "t1",
            "t2"
          ]
        },
        "keywords": {
          "type": "array",
          "description": "List of collection keywords. Tags can be used instead",
          "items": {
            "type": "string"
          },
          "example": [
            "t1",
            "t2"
          ]
        },
        "authors": {
          "type": "array",
          "description": "List of collection authors",
          "items": {
            "$ref": "#/definitions/Author"
          }
        },
        "institution_id": {
          "type": "integer",
          "description": "Collection institution",
          "format": "int64",
          "example": 1
        },
        "group_id": {
          "type": "integer",
          "description": "Collection group",
          "format": "int64",
          "example": 1
        },
        "articles_count": {
          "type": "integer",
          "description": "Number of articles in collection",
          "format": "int64",
          "example": 1
        },
        "public": {
          "type": "boolean",
          "description": "True if collection is published",
          "example": true
        },
        "citation": {
          "type": "string",
          "description": "Collection citation",
          "example": "citation"
        },
        "group_resource_id": {
          "type": "string",
          "x-nullable": true,
          "description": "Collection group resource id",
          "example": 1
        },
        "custom_fields": {
          "type": "array",
          "description": "Collection custom fields",
          "items": {
            "$ref": "#/definitions/CustomArticleField"
          }
        },
        "modified_date": {
          "type": "string",
          "description": "Date when collection was last modified",
          "example": "2017-05-15T15:12:26Z"
        },
        "created_date": {
          "type": "string",
          "description": "Date when collection was created",
          "example": "2017-05-15T15:12:26Z"
        },
        "timeline": {
          "type": "object",
          "description": "Various timeline dates",
          "$ref": "#/definitions/Timeline"
        }
      }
    },
    "Category": {
      "x-tag": "common",
      "type": "object",
      "required": [
        "parent_id",
        "id",
        "title",
        "path",
        "source_id",
[...]
