{
  "openapi": "3.1.0",
  "info": {
    "title": "Figshare API",
    "description": "Figshare apiv2. Using OpenApi 3.1.0",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.figshare.com/v2"
    }
  ],
  "paths": {
    "/articles": {
      "get": {
        "tags": [
          "articles"
        ],
        "operationId": "articles_list",
        "summary": "Public Articles",
        "description": "Returns a list of public articles",
        "security": [],
        "parameters": [
          {
            "name": "X-Cursor",
            "in": "header",
            "description": "Unique hash used for bypassing the item retrieval limit of 9,000 entities. When using this parameter, please note that the offset parameter will not be available, but the limit parameter will still work as expected.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number. Used for pagination with page_size",
            "required": false,
            "schema": {
              "type": ["integer"],
              "format": "int64",
              "minimum": 1,
              "maximum": 5000
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of results included on a page. Used for pagination with page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 1000,
              "default": 10
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results included on a page. Used for pagination with query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Where to start the listing (the offset of the first result). Used for pagination with limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 5000
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "The field by which to order. Default varies by endpoint/resource.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "published_date",
                "created_date",
                "modified_date",
                "views",
                "shares",
                "downloads",
                "cites"
              ],
              "default": "published_date"
            }
          },
          {
            "name": "order_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "institution",
            "in": "query",
            "description": "only return articles from this institution",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "published_since",
            "in": "query",
            "description": "Filter by article publishing date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_since",
            "in": "query",
            "description": "Filter by article modified date. Will only return articles published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "only return articles from this group",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "resource_doi",
            "in": "query",
            "description": "Deprecated by related materials. Only return articles with this resource_doi",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_type",
            "in": "query",
            "description": "Only return articles with the respective type. Mapping for item_type is: 1 - Figure, 2 - Media, 3 - Dataset, 5 - Poster, 6 - Journal contribution, 7 - Presentation, 8 - Thesis, 9 - Software, 11 - Online resource, 12 - Preprint, 13 - Book, 14 - Conference contribution, 15 - Chapter, 16 - Peer review, 17 - Educational resource, 18 - Report, 19 - Standard, 20 - Composition, 21 - Funding, 22 - Physical object, 23 - Data management plan, 24 - Workflow, 25 - Monograph, 26 - Performance, 27 - Event, 28 - Service, 29 - Model",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "doi",
            "in": "query",
            "description": "only return articles with this doi",
            "required": false,
            "schema": {
             "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "description": "only return articles with this handle",
            "required": false,
            "schema": {
             "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. An array of articles",
            "headers": {
              "X-Cursor": {
                "schema": {
                 "type": ["string","null"]
                },
                "description": "Unique hash used for bypassing the item retrieval limit of 9,000 entities."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Article"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Unprocessable Entity. Syntax is correct but one of the parameters isn't correctly processed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/articles/{article_id}": {
      "get": {
        "tags": [
          "articles"
        ],
        "operationId": "article_details",
        "summary": "View article details",
        "description": "View an article",
        "security": [],
        "parameters": [
          {
            "name": "article_id",
            "in": "path",
            "description": "Article Unique identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Article representation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleComplete"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/total/article/{article_id}": {
      "get": {
        "servers": [
          {
            "url": "https://stats.figshare.com"
          }
        ],
        "tags": [
          "articles"
        ],
        "operationId": "total",
        "summary": "View article total downloads, views",
        "description": "View article total downloads, views",
        "security": [],
        "parameters": [
          {
            "name": "article_id",
            "in": "path",
            "description": "Article Unique identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Article representation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotalArticle"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/{institution}/total/article/{article_id}": {
      "get": {
        "servers": [
          {
            "url": "https://stats.figshare.com"
          }
        ],
        "tags": [
          "articles"
        ],
        "operationId": "total_ins",
        "summary": "View article total downloads, views",
        "description": "View article total downloads, views",
        "security": [],
        "parameters": [
          {
            "name": "institution",
            "in": "path",
            "description": "institution",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "article_id",
            "in": "path",
            "description": "Article Unique identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Article representation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotalArticle"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/viz/data/publication/for/aggregated-citations.json": {
      "get": {
        "servers": [
          {
            "url": "https://app.dimensions.ai"
          }
        ],
        "tags": [
          "articles"
        ],
        "operationId": "get_aggregated_citations",
        "summary": "Get article aggregated citations",
        "description": "Get article aggregated citations",
        "security": [],
        "parameters": [
          {
            "name": "and_subset_figshare_doi",
            "in": "query",
            "description": "Article DOI",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viz-st:aggr",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "np",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "必须包含 session 和 uber_auth_tkt",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-csrf-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Referer",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Article representation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregatedCitations"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Article": {
        "x-tag": "articles",
        "type": "object",
        "required": [
          "id",
          "title",
          "resource_doi",
          "resource_title",
          "doi",
          "handle",
          "group_id",
          "url",
          "url_public_html",
          "url_public_api",
          "url_private_html",
          "url_private_api",
          "published_date",
          "thumb",
          "defined_type",
          "defined_type_name",
          "created_date",
          "modified_date"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique identifier for article",
            "example": 1434614
          },
          "title": {
            "type": "string",
            "description": "Title of article",
            "example": "Test article title"
          },
          "doi": {
            "type": "string",
            "description": "DOI",
            "example": "10.6084/m9.figshare.1434614"
          },
          "handle": {
            "type": "string",
            "description": "Handle",
            "example": "111184/figshare.1234"
          },
          "group_id": {
            "type": "number",
            "x-nullable": true,
            "description": "Group ID",
            "example": 1234
          },
          "url": {
            "type": "string",
            "description": "Api endpoint for article",
            "format": "url",
            "example": "http://api.figshare.com/articles/1434614"
          },
          "url_public_html": {
            "type": "string",
            "description": "Public site endpoint for article",
            "format": "url",
            "example": "https://figshare.com/articles/media/Test_article_title/1434614"
          },
          "url_public_api": {
            "type": "string",
            "description": "Public Api endpoint for article",
            "format": "url",
            "example": "https://api.figshare.com/articles/1434614"
          },
          "url_private_html": {
            "type": "string",
            "description": "Private site endpoint for article",
            "format": "url",
            "example": "https://figshare.com/account/articles/1434614"
          },
          "url_private_api": {
            "type": "string",
            "description": "Private Api endpoint for article",
            "format": "url",
            "example": "https://api.figshare.com/account/articles/1434614"
          },
          "published_date": {
            "type": "string",
            "x-nullable": true,
            "description": "Posted date",
            "example": "2015-12-31T23:59:59.000Z"
          },
          "thumb": {
            "type": "string",
            "description": "Thumbnail image",
            "format": "url",
            "example": "https://ndownloader.figshare.com/files/123456789/preview/12345678/thumb.png"
          },
          "defined_type": {
            "type": "integer",
            "format": "int64",
            "description": "Type of article identifier",
            "example": 3
          },
          "defined_type_name": {
            "type": "string",
            "description": "Name of the article type identifier",
            "example": "media"
          },
          "resource_doi": {
            "type": "string",
            "description": "Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article DOI.",
            "default": ""
          },
          "resource_title": {
            "type": "string",
            "description": "Deprecated by related materials. Not applicable to regular users. In a publisher case, this is the publisher article title.",
            "default": ""
          },
          "created_date": {
            "type": "string",
            "description": "Date when article was created",
            "example": "2017-05-18T11:49:03Z"
          },
          "modified_date": {
            "description": "Date when article was last modified",
            "type": "string",
            "x-nullable": true,
            "example": "2017-05-18T11:49:03Z"
          }
        }
      },
      "ProjectArticle": {
        "x-tag": "articles",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Article"
          }
        ],
        "required": [
          "citation",
          "confidential_reason",
          "embargo_type",
          "is_confidential",
          "size",
          "funding",
          "tags",
          "keywords",
          "version",
          "is_metadata_record",
          "metadata_reason",
          "status",
          "description",
          "is_embargoed",
          "embargo_date",
          "is_public",
          "modified_date",
          "created_date",
          "has_linked_file",
          "categories",
          "license",
          "embargo_title",
          "embargo_reason",
          "references",
          "id",
          "title",
          "doi",
          "handle",
          "group_id",
          "url",
          "url_public_html",
          "url_public_api",
          "url_private_html",
          "url_private_api",
          "published_date",
          "thumb",
          "defined_type",
          "defined_type_name"
        ],
        "properties": {
          "citation": {
            "type": "string",
            "description": "Article citation",
            "example": "lilliput, figshare admin (2017): first project item. figshare.\n \n Retrieved: 14 01, May 22, 2017 (GMT)"
          },
          "confidential_reason": {
            "description": "Confidentiality reason",
            "type": "string",
            "example": "none"
          },
          "embargo_type": {
            "description": "Article embargo",
            "type": [
              "string",
              "null"
            ],
            "example": "article"
          },
          "is_confidential": {
            "description": "Article Confidentiality",
            "type": "boolean",
            "example": true
          },
          "size": {
            "description": "Article size",
            "type": "integer",
            "format": "int64",
            "example": 69939
          },
          "funding": {
            "type": "string",
            "description": "Article funding",
            "example": "none"
          },
          "tags": {
            "description": "List of article tags. Keywords can be used instead",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "t1",
              "t2",
              "t3"
            ]
          },
          "keywords": {
            "description": "List of article keywords. Tags can be used instead",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "t1",
              "t2",
              "t3"
            ]
          },
          "version": {
            "description": "Article version",
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "is_metadata_record": {
            "description": "True if article has no files",
            "type": "boolean",
            "example": false
          },
          "metadata_reason": {
            "description": "Article metadata reason",
            "type": "string",
            "example": "hosted somewhere else"
          },
          "status": {
            "type": "string",
            "description": "Article status",
            "example": "public"
          },
          "description": {
            "type": "string",
            "description": "Article description",
            "example": "article description"
          },
          "is_embargoed": {
            "type": "boolean",
            "description": "True if article is embargoed",
            "example": true
          },
          "embargo_date": {
            "description": "Date when embargo lifts",
            "type": [
              "string",
              "null"
            ],
            "example": "2017-05-18T11:49:03Z"
          },
          "is_public": {
            "description": "True if article is published",
            "type": "boolean",
            "example": true
          },
          "modified_date": {
            "description": "Date when article was last modified",
            "type": [
              "string",
              "null"
            ],
            "example": "2017-05-18T11:49:03Z"
          },
          "created_date": {
            "type": "string",
            "description": "Date when article was created",
            "example": "2017-05-18T11:49:03Z"
          },
          "has_linked_file": {
            "type": "boolean",
            "description": "True if any files are linked to the article",
            "example": true
          },
          "categories": {
            "type": "array",
            "description": "List of categories selected for the article",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "license": {
            "description": "Article selected license",
            "$ref": "#/components/schemas/License"
          },
          "embargo_title": {
            "type": "string",
            "description": "Title for embargo",
            "example": "File(s) under embargo"
          },
          "embargo_reason": {
            "type": "string",
            "description": "Reason for embargo",
            "example": "not complete"
          },
          "references": {
            "type": "array",
            "description": "List of references",
            "items": {
              "type": "string",
              "format": "url"
            },
            "example": [
              "http://figshare.com",
              "http://figshare.com/api"
            ]
          }
        }
      },
      "ArticleComplete": {
        "x-tag": "articles",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ProjectArticle"
          }
        ],
        "required": [
          "figshare_url",
          "resource_title",
          "resource_doi",
          "files",
          "authors",
          "custom_fields",
          "embargo_options",
          "citation",
          "confidential_reason",
          "embargo_type",
          "is_confidential",
          "size",
          "funding",
          "funding_list",
          "tags",
          "keywords",
          "version",
          "is_metadata_record",
          "metadata_reason",
          "status",
          "description",
          "is_embargoed",
          "embargo_date",
          "is_public",
          "modified_date",
          "created_date",
          "has_linked_file",
          "categories",
          "license",
          "embargo_title",
          "embargo_reason",
          "references",
          "id",
          "title",
          "doi",
          "handle",
          "group_id",
          "url",
          "url_public_html",
          "url_public_api",
          "url_private_html",
          "url_private_api",
          "published_date",
          "thumb",
          "defined_type",
          "defined_type_name",
          "download_disabled"
        ],
        "properties": {
          "figshare_url": {
            "type": "string",
            "format": "url",
            "description": "Article public url",
            "example": "http://figshare.com/articles/media/article_name/2000005"
          },
          "download_disabled": {
            "type": "boolean",
            "description": "If true, downloading of files for this article is disabled",
            "example": false
          },
          "folder_structure": {
            "type": "object",
            "description": "Mapping of file ids to folder paths, if folders are used",
            "example": {
              "3000002": "Test Folder"
            }
          },
          "authors": {
            "type": "array",
            "description": "List of article authors",
            "items": {
              "$ref": "#/components/schemas/Author"
            }
          }
        }
      },
      "Author": {
        "x-tag": "authors",
        "type": "object",
        "required": [
          "id",
          "full_name",
          "first_name",
          "last_name",
          "is_active",
          "url_name",
          "orcid_id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Author id",
            "example": 97657
          },
          "full_name": {
            "type": "string",
            "description": "Author full name",
            "example": "John Doe"
          },
          "first_name": {
            "type": "string",
            "description": "Author first name",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "description": "Author last name",
            "example": "Doe"
          },
          "is_active": {
            "type": "boolean",
            "description": "True if author has published items",
            "example": 1
          },
          "url_name": {
            "type": "string",
            "description": "Author url name",
            "example": "John_Doe"
          },
          "orcid_id": {
            "type": "string",
            "description": "Author Orcid",
            "example": "1234-5678-9123-1234"
          }
        }
      },
      "Category": {
        "x-tag": "common",
        "type": "object",
        "required": [
          "parent_id",
          "id",
          "title",
          "path",
          "source_id",
          "taxonomy_id"
        ],
        "properties": {
          "parent_id": {
            "type": "integer",
            "format": "int64",
            "description": "Parent category",
            "example": 1
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Category id",
            "example": 11
          },
          "title": {
            "type": "string",
            "description": "Category title",
            "example": "Anatomy"
          },
          "path": {
            "type": "string",
            "description": "Path to all ancestor ids",
            "example": "/450/1024/6532"
          },
          "source_id": {
            "type": "string",
            "description": "ID in original standard taxonomy",
            "example": "300204"
          },
          "taxonomy_id": {
            "type": "integer",
            "format": "int64",
            "description": "Internal id of taxonomy the category is part of",
            "example": 4
          }
        }
      },
      "License": {
        "x-tag": "institutions",
        "type": "object",
        "required": [
          "value",
          "name",
          "url"
        ],
        "properties": {
          "value": {
            "type": "integer",
            "format": "int64",
            "description": "License value",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "License name",
            "example": "CC BY"
          },
          "url": {
            "type": "string",
            "format": "url",
            "description": "License url",
            "example": "http://creativecommons.org/licenses/by/4.0/"
          }
        }
      },
      "TotalArticle": {
        "x-tag": "articles",
        "type": "object",
        "properties": {
          "downloads": {
            "type": "integer",
            "format": "int64",
            "description": "downloads for article",
            "example": 1434614
          },
          "views": {
            "type": "integer",
            "format": "int64",
            "description": "views for article",
            "example": 1434614
          },
          "shares": {
            "type": "integer",
            "format": "int64",
            "description": "shares for article",
            "example": 1434614
          },
          "cites": {
            "type": "integer",
            "format": "int64",
            "description": "cites for article",
            "example": 1434614
          }
        }
      },
      "AggregatedCitations": {
        "x-tag": "articles",
        "type": "object",
        "properties": {
          "navigation": {
            "type":"object",
            "properties": {
              "data_json": {
                "type": "string"
              }
            }
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type":"object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "sublabel": {
                      "type": "string"
                    }
                  }
                },
                "count": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
