openapi: 3.0.1
info:
  description: Figshare apiv2. Using Swagger 2.0
  title: Figshare API
  version: 2.0.0
servers:
- url: https://api.figshare.com/v2
paths:
  /token:
    get:
      description: Returns information about the current OAuth token
      operationId: get_token_info
      parameters:
      - description: OAuth access token
        in: query
        name: access_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthToken'
          description: OK. Token information
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
      security: []
      summary: Get OAuth token information
      tags:
      - oauth
    post:
      description: Creates OAuth token using various grant types
      operationId: create_token
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateOAuthToken'
        description: Create OAuth Token Parameters
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthToken'
          description: OK. Token created successfully <a href='http://tools.ietf.org/html/rfc6749#section-5.1'
            target='_blank'>RFC 6749 Section 5.1</a>.
        "400":
          content: {}
          description: Bad Request <a href='http://tools.ietf.org/html/rfc6749#section-5.2'
            target='_blank'>RFC 6749 Section 5.2</a>.
      security: []
      summary: Create OAuth token
      tags:
      - oauth
      x-codegen-request-body-name: body
  /articles:
    get:
      description: Returns a list of public articles
      operationId: articles_list
      parameters:
      - description: "Unique hash used for bypassing the item retrieval limit of 9,000\
          \ entities. When using this parameter, please note that the offset parameter\
          \ will not be available, but the limit parameter will still work as expected."
        in: header
        name: X-Cursor
        schema:
          format: uuid
          type: string
      - description: Page number. Used for pagination with page_size
        in: query
        name: page
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
      - description: The number of results included on a page. Used for pagination
          with page
        in: query
        name: page_size
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of results included on a page. Used for pagination with
          query
        in: query
        name: limit
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Where to start the listing (the offset of the first result).
          Used for pagination with limit
        in: query
        name: offset
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
      - description: The field by which to order. Default varies by endpoint/resource.
        in: query
        name: order
        schema:
          default: published_date
          enum:
          - published_date
          - created_date
          - modified_date
          - views
          - shares
          - downloads
          - cites
          type: string
      - in: query
        name: order_direction
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: only return articles from this institution
        in: query
        name: institution
        schema:
          format: int64
          type: integer
      - description: Filter by article publishing date. Will only return articles
          published after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601)
          YYYY-MM-DDTHH:mm:ssZ
        in: query
        name: published_since
        schema:
          type: string
      - description: Filter by article modified date. Will only return articles published
          after the date. date(ISO 8601) YYYY-MM-DD or date-time(ISO 8601) YYYY-MM-DDTHH:mm:ssZ
        in: query
        name: modified_since
        schema:
          type: string
      - description: only return articles from this group
        in: query
        name: group
        schema:
          format: int64
          type: integer
      - description: Deprecated by related materials. Only return articles with this
          resource_doi
        in: query
        name: resource_doi
        schema:
          type: string
      - description: "Only return articles with the respective type. Mapping for item_type\
          \ is: 1 - Figure, 2 - Media, 3 - Dataset, 5 - Poster, 6 - Journal contribution,\
          \ 7 - Presentation, 8 - Thesis, 9 - Software, 11 - Online resource, 12 -\
          \ Preprint, 13 - Book, 14 - Conference contribution, 15 - Chapter, 16 -\
          \ Peer review, 17 - Educational resource, 18 - Report, 19 - Standard, 20\
          \ - Composition, 21 - Funding, 22 - Physical object, 23 - Data management\
          \ plan, 24 - Workflow, 25 - Monograph, 26 - Performance, 27 - Event, 28\
          \ - Service, 29 - Model"
        in: query
        name: item_type
        schema:
          format: int64
          type: integer
      - description: only return articles with this doi
        in: query
        name: doi
        schema:
          type: string
      - description: only return articles with this handle
        in: query
        name: handle
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Article'
                type: array
          description: OK. An array of articles
          headers:
            X-Cursor:
              description: "Unique hash used for bypassing the item retrieval limit\
                \ of 9,000 entities."
              schema:
                type: string
        "400":
          content: {}
          description: Bad Request
        "422":
          content: {}
          description: Unprocessable Entity. Syntax is correct but one of the parameters
            isn't correctly processed
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Public Articles
      tags:
      - articles
  /articles/search:
    post:
      description: "Returns a list of public articles, filtered by the search parameters"
      operationId: articles_search
      parameters:
      - description: "Unique hash used for bypassing the item retrieval limit of 9,000\
          \ entities. When using this parameter, please note that the offset parameter\
          \ will not be available, but the limit parameter will still work as expected."
        in: header
        name: X-Cursor
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ArticleSearch'
        description: Search Parameters
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ArticleWithProject'
                type: array
          description: OK. An array of articles
          headers:
            X-Cursor:
              description: "Unique hash used for bypassing the item retrieval limit\
                \ of 9,000 entities."
              schema:
                type: string
        "400":
          content: {}
          description: Bad Request
        "422":
          content: {}
          description: Unprocessable Entity. Syntax is correct but one of the parameters
            isn't correctly processed
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Public Articles Search
      tags:
      - articles
      x-codegen-request-body-name: search
  /articles/{article_id}:
    get:
      description: View an article
      operationId: article_details
      parameters:
      - description: Article Unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleComplete'
          description: OK. Article representation
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: View article details
      tags:
      - articles
      x-subcategory: Public Article
  /articles/{article_id}/versions:
    get:
      description: List public article versions
      operationId: article_versions
      parameters:
      - description: Article Unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ArticleVersions'
                type: array
          description: OK. Article version representations
        "400":
          content: {}
          description: Bad Request. Article ID must be an integer and bigger than
            0.
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: List article versions
      tags:
      - articles
      x-subcategory: Public Article
  /articles/{article_id}/versions/{version_id}:
    get:
      description: Article with specified version
      operationId: article_version_details
      parameters:
      - description: Article Unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Article Version Number
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleComplete'
          description: OK. Article representation
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Article details for version
      tags:
      - articles
      x-subcategory: Public Article
  /articles/{article_id}/versions/{version_id}/files:
    get:
      description: File by version id
      operationId: article_version_files
      parameters:
      - description: Article Unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Article Version Unique identifier
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Page number. Used for pagination with page_size
        in: query
        name: page
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
      - description: The number of results included on a page. Used for pagination
          with page
        in: query
        name: page_size
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of results included on a page. Used for pagination with
          query
        in: query
        name: limit
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Where to start the listing (the offset of the first result).
          Used for pagination with limit
        in: query
        name: offset
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PublicFile'
                type: array
          description: OK. List of article version files
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Article version file details
      tags:
      - articles
      x-subcategory: Public Article version files
  /articles/{article_id}/download:
    get:
      description: Download files from a public article preserving the folder structure
      operationId: public_article_download
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: "Folder path to download. If not provided, all files from the\
          \ article will be downloaded"
        in: query
        name: folder_path
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Public Article Download
      tags:
      - articles
      x-subcategory: Public Article
  /articles/{article_id}/versions/{version_id}/download:
    get:
      description: Download files from a certain version of an public article preserving
        the folder structure
      operationId: public_article_version_download
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Version Number
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: "Folder path to download. If not provided, all files from the\
          \ article will be downloaded"
        in: query
        name: folder_path
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Public Article Version Download
      tags:
      - articles
      x-subcategory: Public Article
  /articles/{article_id}/versions/{version_id}/embargo:
    get:
      description: Embargo for article version
      operationId: article_version_embargo
      parameters:
      - description: Article Unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Version Number
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleEmbargo'
          description: OK. Embargo representation
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Public Article Embargo for article version
      tags:
      - articles
  /articles/{article_id}/versions/{version_id}/confidentiality:
    get:
      description: "Confidentiality for article version. The confidentiality feature\
        \ is now deprecated. This has been replaced by the new extended embargo functionality\
        \ and all items that used to be confidential have now been migrated to items\
        \ with a permanent embargo on files. All API endpoints related to this functionality\
        \ will remain for backwards compatibility, but will now be attached to the\
        \ new extended embargo workflows."
      operationId: article_version_confidentiality
      parameters:
      - description: Article Unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Version Number
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleConfidentiality'
          description: OK. Confidentiality representation
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Public Article Confidentiality for article version
      tags:
      - articles
  /articles/{article_id}/files:
    get:
      description: Files list for article
      operationId: article_files
      parameters:
      - description: Article Unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Page number. Used for pagination with page_size
        in: query
        name: page
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
      - description: The number of results included on a page. Used for pagination
          with page
        in: query
        name: page_size
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of results included on a page. Used for pagination with
          query
        in: query
        name: limit
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Where to start the listing (the offset of the first result).
          Used for pagination with limit
        in: query
        name: offset
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PublicFile'
                type: array
          description: OK. List of article files
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: List article files
      tags:
      - articles
      x-subcategory: Public Article files
  /articles/{article_id}/files/{file_id}:
    get:
      description: File by id
      operationId: article_file_details
      parameters:
      - description: Article Unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: File Unique identifier
        in: path
        name: file_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicFile'
          description: OK. File representation
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Article file details
      tags:
      - articles
      x-subcategory: Public Article files
  /account/articles/search:
    post:
      description: Returns a list of private articles filtered by the search parameters
      operationId: private_articles_search
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PrivateArticleSearch'
        description: Search Parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ArticleWithProject'
                type: array
          description: OK. An array of articles
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Articles search
      tags:
      - articles
      x-codegen-request-body-name: search
  /account/articles:
    get:
      description: Get Own Articles
      operationId: private_articles_list
      parameters:
      - description: Page number. Used for pagination with page_size
        in: query
        name: page
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
      - description: The number of results included on a page. Used for pagination
          with page
        in: query
        name: page_size
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of results included on a page. Used for pagination with
          query
        in: query
        name: limit
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Where to start the listing (the offset of the first result).
          Used for pagination with limit
        in: query
        name: offset
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Article'
                type: array
          description: OK. An array of articles belonging to the account
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Articles
      tags:
      - articles
    post:
      description: Create a new Article by sending article information
      operationId: private_article_create
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ArticleCreate'
        description: Article description
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarnings'
          description: Created
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Create new Article
      tags:
      - articles
      x-subcategory: Private Article
      x-codegen-request-body-name: Article
  /account/articles/{article_id}:
    delete:
      description: Delete an article
      operationId: private_article_delete
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete article
      tags:
      - articles
      x-subcategory: Private Article
    get:
      description: View a private article
      operationId: private_article_details
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleCompletePrivate'
          description: OK. Article representation
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Article details
      tags:
      - articles
      x-subcategory: Private Article
    patch:
      description: Partially update an article by sending only the fields to change.
      operationId: private_article_partial_update
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ArticleUpdate'
        description: Subset of article fields to update
        required: true
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
          description: Reset Content
          headers:
            Location:
              description: Location of the updated article
              schema:
                format: link
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Partially update article
      tags:
      - articles
      x-subcategory: Private Article
      x-codegen-request-body-name: Article
    put:
      description: Update an article by passing full body parameters.
      operationId: private_article_update
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ArticleUpdate'
        description: Full article representation
        required: true
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              schema:
                format: link
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update article
      tags:
      - articles
      x-subcategory: Private Article
      x-codegen-request-body-name: Article
  /account/articles/{article_id}/embargo:
    delete:
      description: Will lift the embargo for the specified article
      operationId: private_article_embargo_delete
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete Article Embargo
      tags:
      - articles
      x-subcategory: Private Article Embargo
    get:
      description: View a private article embargo details
      operationId: private_article_embargo_details
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleEmbargo'
          description: OK. Embargo for article
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Article Embargo Details
      tags:
      - articles
      x-subcategory: Private Article Embargo
    put:
      description: "Note: setting an article under whole embargo does not imply that\
        \ the article will be published when the embargo will expire. You must explicitly\
        \ call the publish endpoint to enable this functionality."
      operationId: private_article_embargo_update
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ArticleEmbargoUpdater'
        description: Embargo description
        required: true
      responses:
        "205":
          content: {}
          description: Reset Content
          headers:
            Location:
              description: Location of embargo
              schema:
                format: link
                type: string
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update Article Embargo
      tags:
      - articles
      x-subcategory: Private Article Embargo
      x-codegen-request-body-name: Embargo
  /account/articles/{article_id}/resource:
    post:
      description: Edit article resource data.
      operationId: private_article_resource
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Resource'
        description: Resource data
        required: true
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Reset Content
          headers:
            Location:
              description: Location for account article details
              schema:
                format: link
                type: string
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      security:
      - OAuth2:
        - all
      summary: Private Article Resource
      tags:
      - articles
      x-codegen-request-body-name: Resource
  /account/articles/{article_id}/publish:
    post:
      description: |-
        - If the whole article is under embargo, it will not be published immediately, but when the embargo expires or is lifted.
        - When an article is published, a new public version will be generated. Any further updates to the article will affect the private article data. In order to make these changes publicly visible, an explicit publish operation is needed.
      operationId: account_article_publish
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Created
          headers:
            Location:
              description: Location of newly published article
              schema:
                format: link
                type: string
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Article Publish
      tags:
      - articles
  /account/articles/{article_id}/unpublish:
    post:
      description: Allows authorized users to unpublish an article.
      operationId: account_article_unpublish
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ArticleUnpublishData'
        description: Article unpublish data
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Public Article Unpublish
      tags:
      - articles
      x-codegen-request-body-name: reason
  /account/articles/{article_id}/reserve_doi:
    post:
      description: Reserve DOI for article
      operationId: private_article_reserve_doi
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleDOI'
          description: OK
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Article Reserve DOI
      tags:
      - articles
  /account/articles/{article_id}/reserve_handle:
    post:
      description: Reserve Handle for article
      operationId: private_article_reserve_handle
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleHandle'
          description: OK
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Article Reserve Handle
      tags:
      - articles
  /account/articles/{article_id}/download:
    get:
      description: Download files from a private article preserving the folder structure
      operationId: private_article_download
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: "Folder path to download. If not provided, all files from the\
          \ article will be downloaded"
        in: query
        name: folder_path
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "403":
          content: {}
          description: Insufficient permissions
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Article Download
      tags:
      - articles
  /account/articles/{article_id}/versions/{version_id}:
    patch:
      description: Partially updating an article version by passing only the fields
        to change.
      operationId: article_version_partial_update
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Article version identifier
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ArticleVersionUpdate'
        description: Subset of article version fields to update
        required: true
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
          description: Reset Content
          headers:
            Location:
              description: Location of updated article version
              schema:
                format: link
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Partially update article version
      tags:
      - articles
      x-subcategory: Article version private updates
      x-codegen-request-body-name: Article
    put:
      description: Updating an article version by passing body parameters.
      operationId: article_version_update
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Article version identifier
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ArticleVersionUpdate'
        description: Article description
        required: true
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
          description: Reset Content
          headers:
            Location:
              description: Location of newly created article
              schema:
                format: link
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update article version
      tags:
      - articles
      x-subcategory: Article version private updates
      x-codegen-request-body-name: Article
  /account/articles/{article_id}/versions/{version_id}/update_thumb:
    put:
      description: For a given public article version update the article thumbnail
        by choosing one of the associated files
      operationId: article_version_update_thumb
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Article version identifier
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/FileId'
        description: File ID
        required: true
      responses:
        "205":
          content: {}
          description: Reset Content
          headers:
            Location:
              description: Location for article version details
              schema:
                format: link
                type: string
        "422":
          content: {}
          description: Unprocessable Entity
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - OAuth2:
        - all
      summary: Update article version thumbnail
      tags:
      - articles
      x-subcategory: Article version private updates
      x-codegen-request-body-name: FileId
  /account/articles/{article_id}/authors:
    get:
      description: List article authors
      operationId: private_article_authors_list
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Author'
                type: array
          description: OK. Authors list for article
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List article authors
      tags:
      - articles
      x-subcategory: Private Article Authors
    post:
      description: Associate new authors with the article. This will add new authors
        to the list of already associated authors
      operationId: private_article_authors_add
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AuthorsCreator'
        description: Authors description
        required: true
      responses:
        "205":
          content: {}
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                format: url
                type: string
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Add article authors
      tags:
      - articles
      x-subcategory: Private Article Authors
      x-codegen-request-body-name: Authors
    put:
      description: Associate new authors with the article. This will remove all already
        associated authors and add these new ones
      operationId: private_article_authors_replace
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AuthorsCreator'
        description: Authors description
        required: true
      responses:
        "205":
          content: {}
          description: Reset Content
          headers:
            Location:
              description: Location of list of authors
              schema:
                format: url
                type: string
        "400":
          content: {}
          description: Bad Request. Article ID must be an integer and bigger than
            0. Author with ID Not Found.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Replace article authors
      tags:
      - articles
      x-subcategory: Private Article Authors
      x-codegen-request-body-name: Authors
  /account/articles/{article_id}/authors/{author_id}:
    delete:
      description: De-associate author from article
      operationId: private_article_author_delete
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Article Author unique identifier
        in: path
        name: author_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete article author
      tags:
      - articles
      x-subcategory: Private Article Authors
  /account/articles/{article_id}/categories:
    get:
      description: List article categories
      operationId: private_article_categories_list
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Category'
                type: array
          description: OK. Article categories
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List article categories
      tags:
      - articles
      x-subcategory: Private Article Categories
    post:
      description: Associate new categories with the article. This will add new categories
        to the list of already associated categories
      operationId: private_article_categories_add
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CategoriesCreator'
        required: true
      responses:
        "205":
          content: {}
          description: Reset Content
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Add article categories
      tags:
      - articles
      x-subcategory: Private Article Categories
      x-codegen-request-body-name: categories
    put:
      description: Associate new categories with the article. This will remove all
        already associated categories and add these new ones
      operationId: private_article_categories_replace
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CategoriesCreator'
        required: true
      responses:
        "205":
          content: {}
          description: Reset Content
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Replace article categories
      tags:
      - articles
      x-subcategory: Private Article Categories
      x-codegen-request-body-name: categories
  /account/articles/{article_id}/categories/{category_id}:
    delete:
      description: De-associate category from article
      operationId: private_article_category_delete
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Category unique identifier
        in: path
        name: category_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete article category
      tags:
      - articles
      x-subcategory: Private Article Categories
  /account/articles/{article_id}/confidentiality:
    delete:
      description: "Delete confidentiality settings. The confidentiality feature is\
        \ now deprecated. This has been replaced by the new extended embargo functionality\
        \ and all items that used to be confidential have now been migrated to items\
        \ with a permanent embargo on files. All API endpoints related to this functionality\
        \ will remain for backwards compatibility, but will now be attached to the\
        \ new extended embargo workflows."
      operationId: private_article_confidentiality_delete
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete article confidentiality
      tags:
      - articles
      x-subcategory: Private Article Confidentiality - DEPRECATED
    get:
      description: "View confidentiality settings. The confidentiality feature is\
        \ now deprecated. This has been replaced by the new extended embargo functionality\
        \ and all items that used to be confidential have now been migrated to items\
        \ with a permanent embargo on files. All API endpoints related to this functionality\
        \ will remain for backwards compatibility, but will now be attached to the\
        \ new extended embargo workflows."
      operationId: private_article_confidentiality_details
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleConfidentiality'
          description: OK. Article categories
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Article confidentiality details
      tags:
      - articles
      x-subcategory: Private Article Confidentiality - DEPRECATED
    put:
      description: "Update confidentiality settings. The confidentiality feature is\
        \ now deprecated. This has been replaced by the new extended embargo functionality\
        \ and all items that used to be confidential have now been migrated to items\
        \ with a permanent embargo on files. All API endpoints related to this functionality\
        \ will remain for backwards compatibility, but will now be attached to the\
        \ new extended embargo workflows."
      operationId: private_article_confidentiality_update
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ConfidentialityCreator'
        required: true
      responses:
        "205":
          content: {}
          description: Reset Content
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update article confidentiality
      tags:
      - articles
      x-subcategory: Private Article Confidentiality - DEPRECATED
      x-codegen-request-body-name: reason
  /account/articles/{article_id}/private_links:
    get:
      description: List private links
      operationId: private_article_private_link
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PrivateLink'
                type: array
          description: OK. Article private links
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List private links
      tags:
      - articles
      x-subcategory: Private Article Private Links
    post:
      description: Create new private link for this article
      operationId: private_article_private_link_create
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PrivateLinkCreator'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResponse'
          description: Created
          headers:
            Location:
              description: Location of private link
              schema:
                format: url
                type: string
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Create private link
      tags:
      - articles
      x-subcategory: Private Article Private Links
      x-codegen-request-body-name: private_link
  /account/articles/{article_id}/private_links/{link_id}:
    delete:
      description: Disable/delete private link for this article
      operationId: private_article_private_link_delete
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Private link token
        in: path
        name: link_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Disable private link
      tags:
      - articles
      x-subcategory: Private Article Private Links
    put:
      description: Update existing private link for this article
      operationId: private_article_private_link_update
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Private link token
        in: path
        name: link_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PrivateLinkCreator'
        required: false
      responses:
        "205":
          content: {}
          description: Reset Content
          headers:
            Location:
              description: Location of private link
              schema:
                format: url
                type: string
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update private link
      tags:
      - articles
      x-subcategory: Private Article Private Links
      x-codegen-request-body-name: private_link
  /account/articles/{article_id}/files:
    get:
      description: List private files
      operationId: private_article_files_list
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Page number. Used for pagination with page_size
        in: query
        name: page
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
      - description: The number of results included on a page. Used for pagination
          with page
        in: query
        name: page_size
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of results included on a page. Used for pagination with
          query
        in: query
        name: limit
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Where to start the listing (the offset of the first result).
          Used for pagination with limit
        in: query
        name: offset
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PrivateFile'
                type: array
          description: OK. Article files list
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: List article files
      tags:
      - articles
      x-subcategory: Private Article Files
    post:
      description: "Initiate a new file upload within the article. Either use the\
        \ link property to point to an existing file that resides elsewhere and will\
        \ not be uploaded to Figshare or use the other 3 parameters (md5, name, size)."
      operationId: private_article_upload_initiate
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Page number. Used for pagination with page_size
        in: query
        name: page
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
      - description: The number of results included on a page. Used for pagination
          with page
        in: query
        name: page_size
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of results included on a page. Used for pagination with
          query
        in: query
        name: limit
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Where to start the listing (the offset of the first result).
          Used for pagination with limit
        in: query
        name: offset
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/FileCreator'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Created
          headers:
            Location:
              description: Location of new file
              schema:
                format: url
                type: string
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity. Parameters missing or incorrect
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Initiate Upload
      tags:
      - articles
      x-subcategory: Private Article Files
      x-codegen-request-body-name: File
  /account/articles/{article_id}/files/{file_id}:
    delete:
      description: Complete file upload
      operationId: private_article_file_delete
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: File unique identifier
        in: path
        name: file_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: File Delete
      tags:
      - articles
      x-subcategory: Private Article Files
    get:
      description: View details of file for specified article
      operationId: private_article_file
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: File unique identifier
        in: path
        name: file_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateFile'
          description: OK. Article private file
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Single File
      tags:
      - articles
      x-subcategory: Private Article Files
    post:
      description: Complete file upload
      operationId: private_article_upload_complete
      parameters:
      - description: Article unique identifier
        in: path
        name: article_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: File unique identifier
        in: path
        name: file_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "202":
          content: {}
          description: Accepted
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Complete Upload
      tags:
      - articles
      x-subcategory: Private Article Files
  /account/articles/export:
    get:
      description: Return status on all reports generated for the account from the
        oauth credentials
      operationId: account_article_report
      parameters:
      - description: A group ID to filter by
        in: query
        name: group_id
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountReport'
                type: array
          description: OK. An array of account report entries
        "400":
          content: {}
          description: Bad Request
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Account Article Report
      tags:
      - articles
    post:
      description: Initiate a new Article Report for this Account. There is a limit
        of 1 report per day.
      operationId: account_article_report_generate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountReport'
          description: OK. AccountReport created.
        "429":
          content: {}
          description: Too Many Requests
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Initiate a new Report
      tags:
      - articles
  /collections:
    get:
      description: Returns a list of public collections
      operationId: collections_list
      parameters:
      - description: "Unique hash used for bypassing the item retrieval limit of 9,000\
          \ entities. When using this parameter, please note that the offset parameter\
          \ will not be available, but the limit parameter will still work as expected."
        in: header
        name: X-Cursor
        schema:
          format: uuid
          type: string
      - description: Page number. Used for pagination with page_size
        in: query
        name: page
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
      - description: The number of results included on a page. Used for pagination
          with page
        in: query
        name: page_size
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of results included on a page. Used for pagination with
          query
        in: query
        name: limit
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Where to start the listing (the offset of the first result).
          Used for pagination with limit
        in: query
        name: offset
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
      - description: The field by which to order. Default varies by endpoint/resource.
        in: query
        name: order
        schema:
          default: published_date
          enum:
          - published_date
          - created_date
          - modified_date
          - views
          - shares
          - cites
          type: string
      - in: query
        name: order_direction
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: only return collections from this institution
        in: query
        name: institution
        schema:
          format: int64
          type: integer
      - description: Filter by collection publishing date. Will only return collections
          published after the date. date(ISO 8601) YYYY-MM-DD
        in: query
        name: published_since
        schema:
          type: string
      - description: Filter by collection modified date. Will only return collections
          published after the date. date(ISO 8601) YYYY-MM-DD
        in: query
        name: modified_since
        schema:
          type: string
      - description: only return collections from this group
        in: query
        name: group
        schema:
          format: int64
          type: integer
      - description: only return collections with this resource_doi
        in: query
        name: resource_doi
        schema:
          type: string
      - description: only return collections with this doi
        in: query
        name: doi
        schema:
          type: string
      - description: only return collections with this handle
        in: query
        name: handle
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Collection'
                type: array
          description: OK. An array of collections
          headers:
            X-Cursor:
              description: "Unique hash used for bypassing the item retrieval limit\
                \ of 9,000 entities."
              schema:
                type: string
        "400":
          content: {}
          description: Bad Request
        "422":
          content: {}
          description: Bad Request
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Public Collections
      tags:
      - collections
  /collections/search:
    post:
      description: Returns a list of public collections
      operationId: collections_search
      parameters:
      - description: "Unique hash used for bypassing the item retrieval limit of 9,000\
          \ entities. When using this parameter, please note that the offset parameter\
          \ will not be available, but the limit parameter will still work as expected."
        in: header
        name: X-Cursor
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CollectionSearch'
        description: Search Parameters
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Collection'
                type: array
          description: OK. An array of collections
          headers:
            X-Cursor:
              description: "Unique hash used for bypassing the item retrieval limit\
                \ of 9,000 entities."
              schema:
                type: string
        "400":
          content: {}
          description: Bad Request
        "422":
          content: {}
          description: Bad Request
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Public Collections Search
      tags:
      - collections
      x-codegen-request-body-name: search
  /collections/{collection_id}:
    get:
      description: View a collection
      operationId: collection_details
      parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionComplete'
          description: OK. Collection representation
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Collection details
      tags:
      - collections
      x-subcategory: Public Collection
  /collections/{collection_id}/versions:
    get:
      description: Returns a list of public collection Versions
      operationId: collection_versions
      parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CollectionVersions'
                type: array
          description: OK. An array of versions
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Collection Versions list
      tags:
      - collections
      x-subcategory: Public Collection
  /collections/{collection_id}/versions/{version_id}:
    get:
      description: View details for a certain version of a collection
      operationId: collection_version_details
      parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Version Number
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionComplete'
          description: OK. Collection for that version
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Collection Version details
      tags:
      - collections
      x-subcategory: Public Collection
  /collections/{collection_id}/articles:
    get:
      description: Returns a list of public collection articles
      operationId: collection_articles
      parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      - description: Page number. Used for pagination with page_size
        in: query
        name: page
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
      - description: The number of results included on a page. Used for pagination
          with page
        in: query
        name: page_size
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of results included on a page. Used for pagination with
          query
        in: query
        name: limit
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Where to start the listing (the offset of the first result).
          Used for pagination with limit
        in: query
        name: offset
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Article'
                type: array
          description: OK. An array of articles belonging to the collection
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Bad Request
        "500":
          content: {}
          description: Internal Server Error
      security: []
      summary: Public Collection Articles
      tags:
      - collections
  /account/collections:
    get:
      description: List private collections
      operationId: private_collections_list
      parameters:
      - description: Page number. Used for pagination with page_size
        in: query
        name: page
        schema:
          format: int64
          maximum: 5000
          minimum: 1
          type: integer
      - description: The number of results included on a page. Used for pagination
          with page
        in: query
        name: page_size
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of results included on a page. Used for pagination with
          query
        in: query
        name: limit
        schema:
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
      - description: Where to start the listing (the offset of the first result).
          Used for pagination with limit
        in: query
        name: offset
        schema:
          format: int64
          maximum: 5000
          minimum: 0
          type: integer
      - description: The field by which to order. Default varies by endpoint/resource.
        in: query
        name: order
        schema:
          default: published_date
          enum:
          - published_date
          - modified_date
          - views
          - shares
          - cites
          type: string
      - in: query
        name: order_direction
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Collection'
                type: array
          description: OK. An array of collections
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Collections List
      tags:
      - collections
    post:
      description: Create a new Collection by sending collection information
      operationId: private_collection_create
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CollectionCreate'
        description: Collection description
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarnings'
          description: Created
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Create collection
      tags:
      - collections
      x-subcategory: Private Collection
      x-codegen-request-body-name: Collection
  /account/collections/{collection_id}:
    delete:
      description: Delete n collection
      operationId: private_collection_delete
      parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Delete collection
      tags:
      - collections
      x-subcategory: Private Collection
    get:
      description: View a collection
      operationId: private_collection_details
      parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionCompletePrivate'
          description: OK. Collection representation
        "400":
          content: {}
          description: Bad Request
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Collection details
      tags:
      - collections
      x-subcategory: Private Collection
    patch:
      description: Partially update a collection by sending only the fields to change.
      operationId: private_collection_patch
      parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CollectionUpdate'
        description: Subset of collection fields to update
        required: true
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
          description: Reset Content
          headers:
            Location:
              description: Location of collection
              schema:
                format: link
                type: string
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Partially update collection
      tags:
      - collections
      x-subcategory: Private Collection
      x-codegen-request-body-name: Collection
    put:
      description: Update a collection by passing full body parameters.
      operationId: private_collection_update
      parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CollectionUpdate'
        description: Collection description
        required: true
      responses:
        "205":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationWarningsUpdate'
          description: Reset Content
          headers:
            Location:
              description: Location of collection
              schema:
                format: link
                type: string
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "404":
          content: {}
          description: Not Found
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Update collection
      tags:
      - collections
      x-subcategory: Private Collection
      x-codegen-request-body-name: Collection
  /account/collections/search:
    post:
      description: Returns a list of private Collections
      operationId: private_collections_search
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PrivateCollectionSearch'
        description: Search Parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Collection'
                type: array
          description: OK. An array of collections
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Collections Search
      tags:
      - collections
      x-codegen-request-body-name: search
  /account/collections/{collection_id}/reserve_doi:
    post:
      description: Reserve DOI for collection
      operationId: private_collection_reserve_doi
      parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionDOI'
          description: OK
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Collection Reserve DOI
      tags:
      - collections
  /account/collections/{collection_id}/reserve_handle:
    post:
      description: Reserve Handle for collection
      operationId: private_collection_reserve_handle
      parameters:
      - description: Collection Unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionHandle'
          description: OK
        "400":
          content: {}
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Forbidden
        "500":
          content: {}
          description: Internal Server Error
      security:
      - OAuth2:
        - all
      summary: Private Collection Reserve Handle
      tags:
      - collections
  /account/collections/{collection_id}/resource:
    post:
      description: Edit collection resource data.
      operationId: private_collection_resource
      parameters:
      - description: Collection unique identifier
        in: path
        name: collection_id
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
      requestBody:
        content:
          '*/*':
            schema:
[...]
